---
layout: single
author_profile: true
---
        <h1>Professional Activities</h1>
<div class="activites">
      <div class="activity">
    <h2>Professional Societies and Activities</h2>
    <ul>
      {% for act in site.data.professional_membership %}
      <li>
        {{ act }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="reviewing">
    <h2>Editorial Board and Reviewing</h2>
    <ul>
      {% for act in site.data.professional_activities %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  </div>
    
      <div class="conferences">
    <h2>Conference Management</h2>
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  </div>
    
</div>

