---
layout: single
author_profile: true
---
        <h1>Professional Activities</h1>
<div class="activites">

  <a href="#societies">Societies Membership</a> <br>
  <a href="#expertcommittees">Expert Committees</a> <br>
  <a href="#confmgmt">Conference Management</a>  <br>
  <a href="#coursesconducted">Courses Conducted</a>   <br>
  <a href="#programsattended">Programs Participated</a> <br> <br> <br>

      <div class="societies">
    <h2 id="societies">Professional Societies and Activities</h2>
<!--
    <ul>
      {% for act in site.data.professional_membership %}
      <li>
        {{ act }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="reviewing">
    <h2>Editorial Board and Reviewing</h2>
    <ul>
      {% for act in site.data.professional_activities %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>

-->
        {% include membership.html %} 

  </div>


        <div class="expertcommittees">
    <h2 id="expertcommittees">Expert Committees</h2>
<!--
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  -->

        {% include expertcommittees.html %} 
  </div>
    
      <div class="confmgmt">
    <h2 id="confmgmt">Conference Management</h2>
<!--
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  -->

        {% include confmgmt.html %} 
  </div>
    


        <div class="coursesconducted">
    <h2 id="coursesconducted">Courses Conducted</h2>
<!--
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  -->

        {% include academicactivities.html %} 
  </div>

        <div class="programsattended">
    <h2 id="programsattended">Programs Participated</h2>
<!--
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  -->

        {% include programsattended.html %} 
  </div>

</div>

