---
layout: single
author_profile: true
toc: true
toc_sticky: true

header:
  image: images/iitr.jpg 
  caption: "Department of Computer Science and Engineering<br><a href=\"https://www.iitr.ac.in\">Indian Institute of Technology Roorkee, India</a>"
---
  <div class="activity">
    <h2>Administrative Roles and Responsibilities</h2>
<!--
    <ul>
      {% for act in site.data.adminrole %}
      <li>
        {{ act }}
      </li>
      {% endfor %}
    </ul>
-->
        {% include administrativeactivities.html %} 
  </div>

</div>

