---
layout: single
author_profile: true

toc: true
toc_label: "Professional Recognitions"

header:
  image: images/iitr.jpg 
  caption: "Department of Computer Science and Engineering<br><a href=\"https://www.iitr.ac.in\">Indian Institute of Technology Roorkee, India</a>"
---
        <h1>Professional Recognitions</h1>

<div class="awards">
	      <div class="societies">
    <h2 id="societies">Professional Societies and Activities</h2>


        {% include membership.html %} 
</div>

  <div class="awards">
  <h2 id="awards">Awards</h2>
     
     {% include awards.html %} 
</div>



  <div class="recognitions">
 <h2 id="recognitions">Recognitions</h2>
     
     {% include recognitions.html %} 
</div>





<!--
    <ul>
      {% for act in site.data.professional_membership %}
      <li>
        {{ act }}
      </li>
      {% endfor %}
    </ul>


    <ul>
      {% for act in site.data.professional_activities %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>

-->