---
layout: single
author_profile: true
---


<div>
  <h3>Research Interest</h3>
  <div>
    Cloud Computing, Energy Efficiency, Resource Management, Load Balancing, Security, Trust, Virtualization, Mobile and Wireless Communications, Ad-hoc Networks, Sensor Networks, Pervasive Computing, Ubiquitous Computing, Cellular Networks, Network Security, Static Analysis, Behavioral Analysis, Anomaly Detection, IDS, DDoS detection, etc
  </div>
</div>

<div>
  <h3>Membership</h3>
  <div class="position">
    <ul>
    <li>Senior Member, IEEE</li>
    <li>Member, ACM </li>
  </ul>
  </div>
     <a href="activities.html">... More ...</a> 
</div>

<div>
  <h3>Events</h3>
  <ul>
    {% for event in site.data.upcoming %}
      <li>{{event.title}}: {{event.date}}, {{ event.description }}</li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>Talks</h3>
  <ul>
    {% for talk in site.data.talks %}
      <li>{{talk.date}}: {{talk.title}}{% if talk.venue %}{{ talk.venue }}{% endif %}</li>
    {% endfor %}
  </ul>
    <a href="talks.html">... More ...</a>
</div>
<div>
  <h3>Professional Activities</h3>
  <ul>
    {% for role in site.data.roles %}
      <li>{{role.role}}, {{role.description}}{% if role.date %}{{ role.date }}{% endif %}{% if role.location %}{{ role.location }}{% endif %}</li>
    {% endfor %}
  </ul>
      <a href="activities.html">... More ...</a>  
</div>
