---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "academicons.min.css";
@import "tex.css";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



html {
  font-size: 13px;

  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

.author__urls a {
  display: inline;
}

.page__content {
  font-size: 13px;
}

.small-font-email {
  font-size: 12px;
}

.page__hero-image {
  height: 10em;
}


.page__hero-caption {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    border-radius: 0 0 4px 0;
    background: transparent;
    color: black;
    font-size: 1em;

    a {
      color: black;
    }
}

.from-tex {
    font-size: 18px !important;
}

.sidebar {
  opacity: 1;
}

.author__avatar img { 
    max-width: 160px; 
    border-radius: 5%; 
}

.author__avatar img { 
    padding: 0px; 
    border: 0px solid #f2f3f3; 
}

.archive__item-teaser img { 
    width: 50%; 
}
