---
layout: single
author_profile: true

header:
  image: images/iitr.jpg 
  caption: "Department of Computer Science and Engineering<br><a href=\"https://www.iitr.ac.in\">Indian Institute of Technology Roorkee, India</a>"
---
<div class="projects">
  <h2>Projects</h2>
		<ul>
			{% for proj in site.data.projects %}
            <li> {{proj.name}}, <b>{{proj.desig}}</b>, {{proj.job}}, {{proj.duration}}, {{proj.amount}}
            		{% if proj.image %}<br><img style="height: 100%; width: 30em;" src="{{ proj.image }}">{%else %}no image{% endif %}
            </li>
		{% endfor %}

	</ul>
</div>