---
layout: single
author_profile: true

toc: true
toc_label: "Publications"

header:
  image: images/iitr.jpg 
  caption: "Department of Computer Science and Engineering<br><a href=\"https://www.iitr.ac.in\">Indian Institute of Technology Roorkee, India</a>"
---
<div class="publications">
  <h2 id="publications">Selected Publications </h2>

  Easy Links: <br>
  <a href="#journals">Selected Journals</a>
  <a href="#conferences">Selected Conferences</a>
  <a href="#books">Books</a>

  <br><br>

   <h3 id="journals">Selected Journals </h3>
		<div class="from-tex">
			{% include journals.html %}
		</div>
   <h3 id="conferences">Selected Conferences </h3>
		<div class="from-tex">
			{% include conferences.html %}
		</div>
   <h3 id="books">Books </h3>
		<div class="from-tex">
			{% include books.html %}
		</div>
</div>

