---
layout: single
author_profile: true
toc: true
toc_label: "Research Outcomes"

header:
  image: images/iitr.jpg 
  caption: "Department of Computer Science and Engineering<br><a href=\"https://www.iitr.ac.in\">Indian Institute of Technology Roorkee, India</a>"
---
<h1> Research Outcomes</h1>
<div class="research"> 
<a href="#interests"> Research Interests</a> <br>
<a href="#projects"> Research Projects</a> <br>
<a href="#publications"> Research Publications</a> <br>
<a href="#visitsabroad"> Visits Abroad</a> <br>
</div>

  <div class="interests">
    <h2 id="interests">Research Interests</h2>
    <b> Cloud Computing</b>: Energy Efficiency, Resource Management, Load Balancing, Security, Trust, Virtualization <br>
    <b> Pervasive and Ubiquitous Computing</b>: Mobile and Wireless Communications, Ad-hoc Networks, Pervasive Computing, Ubiquitous Computing, Cellular Networks, Mobile Edge Computing, Sensor Networks, Wireless Sensor Networks (WSN), Internet-of-Things (IoT), Edge Computing, Fog Computing <br>
    <b> Cyber Security </b>: Network Security, Cloud Security, Mobile Security, IoT Security, Static Analysis, Behavioral Analysis, Anomaly Detection, IDS, DDoS detection, etc
  </div>


  <div class="projects">
    <h2 id="cashflow">External Cash Flow / Sponsored Research Projects</h2>

         <h3 id="projects">Research Projects </h3>
    <ul>
      {% for proj in site.data.projects %}
      <li>
        Title: {{proj.name}} <br> Role: {{proj.desig}} <br> Funding Agency: {{proj.job}} <br> Duration: {{proj.duration}} <br> Amount: {{proj.amount}} <br> Project Description: {{proj.description}}<br>
      </li>
      {% endfor %}
    </ul>

     <h3 id="summary">Cash Flow </h3>
    <div class="from-tex">
      {% include sponsoredproj.html %}
    </div>
  </div>

<div class="publications">
  <h2 id="publications">Research Publications </h2>

 All Publications: <br>
 
  

<a href="https://scholar.google.com/citations?hl=en&user=iMMhgycAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a> <br>
  
  
<a href="http://dblp.uni-trier.de/pers/hd/p/Peddoju:Sateesh_Kumar" target="_blank" onclick="window.open(&quot;http://dblp.uni-trier.de/pers/hd/p/Peddoju:Sateesh_K=&quot;); window.open(&quot;http://dblp2.uni-trier.de/pers/hd/k/Kumar:P=_Sateesh&quot;);">DBLP</a> <br>
  
  
<!-- 
<a href="http://dblp.uni-trier.de/pers/hd/p/Peddoju:Sateesh_Kumar" target="_blank">DBLP &nbsp;&nbsp;( Source -1, &nbsp; &nbsp;&nbsp;</a>
<a href="http://dblp.uni-trier.de/pers/hd/p/Peddoju:Sateesh_K=" target="_blank">Source -2,  &nbsp;&nbsp;&nbsp; </a>
<a href="http://dblp2.uni-trier.de/pers/hd/k/Kumar:P=_Sateesh" target="_blank">Source -3)   </a> <br>
-->
<a href="https://www.researchgate.net/profile/Sateesh_Kumar_Peddoju" target="_blank">ResearchGate</a> <br><br>
  Easy Links: <br>
  <a href="#journals">Selected Journals</a> <br>
  <a href="#conferences">Selected Conferences</a> <br>
  <a href="#books">Books</a> <br> <br>


   <h3 id="journals">Selected Journals </h3>

      {% include journals.html %}
 
   <h3 id="conferences">Selected Conferences </h3>
 
      {% include conferences.html %}
  
   <h3 id="books">Books </h3>
   
      {% include books.html %}
  
</div>



        <div class="visitsabroad">
    <h2 id="visitsabroad">Visits Abroad</h2>


        {% include visitsabroad.html %} 
   </div> 




<!--
  
           
    <ul>     
{% for pub in site.data.publication %}
      <li>
{{ pub.authors }}, {% if pub.url %}{% endif %}{{ pub.title }}{% if pub.url %}{% endif %}, {% if pub.publisher.type == "book" or pub.publisher.type == "conference" %} {{ pub.publisher.name }}, {% elsif pub.publisher.type == "journal" or pub.publisher.type == "conference" %} {{ pub.publisher.name }} {{ pub.publisher.volume }} ({{pub.publisher.issue}}), {% endif %} {{ pub.publisher.pages }}, {{ pub.publisher.publisher }}, {{ pub.year }} {% if pub.citations > 0 %}, Cited by {{ pub.citations }}{% endif %}
      </li>
{% endfor %}
     </ul>       
  </div>
-->

<!--
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  -->

