---
layout: single
author_profile: true

toc: true
toc_label: "Teaching and Talks"

header:
  image: images/iitr.jpg 
  caption: "Department of Computer Science and Engineering<br><a href=\"https://www.iitr.ac.in\">Indian Institute of Technology Roorkee, India</a>"
---
<div class="teaching">
  <h2>Teaching</h2>
		<ul>
			{% for teach in site.data.teaching %}
            <li> {% if teach.url %}<a href="{{teach.url}}">{% endif %}{{teach.name}}:{% if teach.url %} </a> {% endif %} {{teach.desig}}, {{teach.job}} </li>
		{% endfor %}

	</ul>
</div>

<div class="coursesdeveloped">
  <h2>Courses Developed</h2>
      {% include coursesdeveloped.html %} 
</div>


        <div class="coursesconducted">
    <h2 id="coursesconducted">Courses Conducted</h2>
<!--
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  -->

        {% include academicactivities.html %} 
  </div>

        <div class="programsattended">
    <h2 id="programsattended">Programs Participated</h2>
<!--
    <ul>
      {% for act in site.data.conferences %}
      <li>
        {{ act }}
      </li>
      {% endfor %}

    </ul>
  -->

        {% include programsattended.html %} 
  </div>

  
<div class="Talks">
  <h2>Invited Talks</h2>

      {% include invitedtalks.html %} 
</div>