<div>
     <ol class="enumerate1">
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course  Coordinator</span>,  One-Week  FDP on  <span class="cmti-10">IoT,  What  and  How?</span>,
     December 24  28, 2018 (EICT Aacdemy, IIT Roorkee).
     </li>
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course  Coordinator</span>,  One-Week  Faculty  Development  Program  on  <span class="cmti-10">IoT,  What  and  How?</span>,
     December 24  28, 2018 (EICT Aacdemy, IIT Roorkee).
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">Course Coordinator</span>, One-Week Faculty Development Program on <span class="cmti-10">High Performance Computing</span>
     <span class="cmti-10">and Deep Learning</span>, October 21-25, 2018 (EICT Aacdemy, IIT Roorkee).
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Course Coordinator</span>, One-Week Faculty Development Program on <span class="cmti-10">Internet of Things</span>, January
     13-17, 2018 (EICT Academy, IIT Roorkee)
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Course Coordinator</span>, One-Week Short Course on <span class="cmti-10">Recent Trends in Network Security</span>, January
     8-12,  2018  (ISEA  Project,  Phase-II  &amp;  EICT  Academy,  IIT  Roorkee)  (Invited  3  international
     speakers)
     </li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Course  Coordinator</span>,  Two-weeks  Faculty  Development  Program  on  <span class="cmti-10">Computer Networks and</span>
     <span class="cmti-10">Security</span>, May 24th - June 2nd, 2017 (EICT Academy, IIT Roorkee)
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">Course Coordinator</span>, One-week Short Course on <span class="cmti-10">Recent Trends in Network Security</span>, December
     14-18, 2016 (ISEA Project, Phase-II)
     </li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Course Coordinator</span>, One-week Short Course on <span class="cmti-10">Recent Trends in Network Security</span>, February
     1-5, 2016. (ISEA Project, Phase-II)
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Organizing Committee Member (CSE)</span>, Conference on <span class="cmti-10">Recent Advances in Electronics and</span>
     <span class="cmti-10">Computer Engineering (RAECE)</span>, IIT Roorkee, February 14-15, 2015.
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmbx-10">Faculty Coordinator</span>, <span class="cmti-10">Code.fun.do  24-hour hackathon, Microsoft, ACM IITR Students Chapter</span>,
     Dept. of CSE, February 6-8, 2015
     </li>
     <li class="enumerate" id="x1-21x10">
<span class="cmbx-10">Faculty Coordinator</span>, ACM one-day workshop on <span class="cmti-10">Business Process Simulation</span>, (17th January,
     2015), Prof. D.S. Broca, XLRI, Jhamshedpur
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Faculty Coordinator</span>, ACM inaugural lecture on <span class="cmti-10">Emerging Trends in Cloud Computing </span>(12th
     April 2014), Prof. Janakiram D, IIT Madras
     </li>
     <li class="enumerate" id="x1-25x12">
<span class="cmbx-10">Faculty Coordinator</span>, Asian Programming Contest  2014 (29th March, 2014)
     </li>
     <li class="enumerate" id="x1-27x13">
<span class="cmbx-10">Convener</span>, QIP Short Term Course on <span class="cmti-10">Developments and Challenges in Cloud Computing </span>(10-14
     June, 2013)
     </li>
     <li class="enumerate" id="x1-29x14">
<span class="cmbx-10">Convener</span>, One-day workshop on <span class="cmti-10">High Performance Computing</span>. June, 2012
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Organizing Member</span>, Two-day workshop on <span class="cmti-10">Cloud Computing and Security Issues</span>, 12-13 July,
     2012, Osmania University, Hyderabad, India.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-33x16">
<span class="cmbx-10">Convener</span>, National Level Students Technical Symposium (Paper Presentation Competition) ,
     ABHISARGA-2004 (23rd  24th Sept., 2004)
     </li>
     <li class="enumerate" id="x1-35x17">
<span class="cmbx-10">Convener</span>, National Short Term Training Program on OOAD &amp; UML(18th  22nd July, 2005)
     </li>
     <li class="enumerate" id="x1-37x18">
<span class="cmbx-10">Convener</span>, National Short Term Training on Databases &amp; Oracle (9th  13th March, 2006)
     </li>
     <li class="enumerate" id="x1-39x19">
<span class="cmbx-10">Convener</span>, State Level Competitions for INFOSYS campus connect students, ASPIRATIONS-2020
     (14th August, 2007)
     </li>
     <li class="enumerate" id="x1-41x20">
<span class="cmbx-10">Convener</span>, Second Alumni Meet (23rd February, 2008)
     </li>
     <li class="enumerate" id="x1-43x21">
<span class="cmbx-10">Acted as Chairperson</span>, Advisor or Member for various events organized at National level or State
     level.
     </li>
</ol>
    
</div>
