<div>
     <ol class="enumerate1">
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10"> Coordinator</span>,  National Knowledge Network (NKN) course on <span class="cmti-10">Blockchain Technol-
ogy and Applications</span>,
    January 3-8, 2021 (NKN, IIT Roorkee).
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10"> Steering Chair</span>,  The Fourth International Workshop on <span class="cmti-10">smart Living with IoT,
Cloud and Edge Computing (SLICE-2021 in conjunction with The 18th Interna-
tional Conference on Mobile Ad-Hoc and Smart Systems ( MASS - 2021)(ERA
Rank: B)</span>,
   October 4-7, 2021 (Denver, CO, USA).
     </li>
              <li class="enumerate" id="x1-3x1">
<span class="cmbx-10"> Coordinator</span>,  Workshop on <span class="cmti-10">GPU Architectures</span>,
   October 6, 2021 (NVIDIA).
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10"> Coordinator</span>, IBM OpenPOWER Foundation (OPF) Workshop on <span class="cmti-10">HPC and Cloud</span>,
  July 16, 2021 ( IBM OPF).
     </li>
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10"> Course Coordinator</span>Online Training Programme On <span class="cmti-10">Full Stack Web Develop-
ment</span>,
  December 2-10, 2020 (EICT Academy, IIT Roorkee).
     </li>
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10"> Program Chair, Organizing Chair, and Web Chair</span>The 17th IEEE Inter-
national Conference on <span class="cmti-10">Mobile Ad-Hoc and Smart Systems (MASS 2020) (ERA
Rank: B)</span>,
  December 10-13, 2020(IEEE Computer Society, IIT Roorkee).
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10"> Steering Chair</span>The Third International Workshop on <span class="cmti-10">Smart Living with IoT,
Cloud and Edge Computing (SLICE-2020 in conjunction with The 17th Interna-
tional Conference on Mobile Ad-Hoc and Smart Systems ( MASS - 2020)(ERA
Rank: B),</span>,
  December 10-13, 2020((IEEE Computer Society, IIT Roorkee).
     </li>
            <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course  Coordinator</span> One-Week Faculty Development Program on <span class="cmti-10">Cloud Com-
puting and its Applications</span>,
    September 16-20, 2019 (EICT Aacdemy, IIT Roorkee).
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course  Coordinator</span>Online Summer Training Programme on <span class="cmti-10">Ethical Hacking
and Cyber Security</span>,
      June 17-21, 2019(EICT Aacdemy, IIT Roorkee).
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">General Chair, and Session Chair</span>Second IEEE International Workshop on <span class="cmti-10">Smart Living with IoT, Cloud and Edge Computing (SLICE-2019) in conjunction
with The Fourth IEEE International Conference on Fog and Mobile Edge Computing
(FMEC 2019)</span>,
     june 10-13, 2019(Rome, Italy).
     </li>
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course  Coordinator</span>Workshop on <span class="cmti-10">OpenPOWER and AI</span>,
      February 6, 2019( IBM, Bangalore.)
     </li>
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course  Coordinator</span>Workshop on <span class="cmti-10">IoT and Cloud Fundamentals for Cyber Secu-
rity Cell, Information Technology Development Authority, Department of IT, Gov-
ernment of Uttarakhand</span>
      February 18, 2019(EICT & Cognizance 2019, IIT Roorkee)
     </li>
          
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course  Coordinator</span>,  One-Week  Faculty  Development  Program  on  <span class="cmti-10">IoT,  What  and  How?</span>,
     December 24  28, 2018 (EICT Aacdemy, IIT Roorkee).
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">Course Coordinator</span>, One-Week Faculty Development Program on <span class="cmti-10">High Performance Computing</span>
     <span class="cmti-10">and Deep Learning</span>, October 21-25, 2018 (EICT Aacdemy, IIT Roorkee).
     </li>
          <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">General Chair</span>, second International Workshop on <span class="cmti-10">Data Science Engineering and
Its Applications (DSEA-2018) in association with The Fifth International Confer-
ence on Internet of Things: Systems, Management and Security (IoTSMS 2018)</span>
     , October 15-18, 2018 (Valencia, Spain).
     </li>
          <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">General Chair</span>, First International Workshop on <span class="cmti-10">Smart Living with IoT, Cloud and
Edge Computing (SLICE-2018) in conjunction with The Third IEEE International
Conference on Fog and Mobile Edge Computing (FMEC 2018)</span>
     , April 23-26, 2018 (Barcelona, Spain).
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Course Coordinator</span>, One-Week Faculty Development Program on <span class="cmti-10">Internet of Things</span>, January
     13-17, 2018 (EICT Academy, IIT Roorkee)
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Course Coordinator</span>, One-Week Short Course on <span class="cmti-10">Recent Trends in Network Security</span>, January
     8-12,  2018  (ISEA  Project,  Phase-II  &amp;  EICT  Academy,  IIT  Roorkee)  (Invited  3  international
     speakers)
     </li>
      
          
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Course  Coordinator</span>,  Two-weeks  Faculty  Development  Program  on  <span class="cmti-10">Computer Networks and</span>
     <span class="cmti-10">Security</span>, May 24th - June 2nd, 2017 (EICT Academy, IIT Roorkee)
     </li>
           <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">Course Coordinator</span>,One-Week Faculty Development Program on <span class="cmti-10">Recent Trends in Network Security</span>, December
     14-18, 2016 (ISEA Project, Phase-II)
     </li>
       
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Course Coordinator</span>, One-week Short Course on <span class="cmti-10">Recent Trends in Network Security</span>, February
     1-5, 2016. (ISEA Project, Phase-II)
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Organizing Committee Member (CSE)</span>, Conference on <span class="cmti-10">Recent Advances in Electronics and</span>
     <span class="cmti-10">Computer Engineering (RAECE)</span>, IIT Roorkee, February 14-15, 2015.
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmbx-10">Faculty Coordinator</span>, <span class="cmti-10">Code.fun.do  24-hour hackathon, Microsoft, ACM IITR Students Chapter</span>,
     Dept. of CSE, February 6-8, 2015
     </li>
     <li class="enumerate" id="x1-21x10">
<span class="cmbx-10">Faculty Coordinator</span>, ACM one-day workshop on <span class="cmti-10">Business Process Simulation</span>, (17th January,
     2015), Prof. D.S. Broca, XLRI, Jhamshedpur
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Faculty Coordinator</span>, ACM inaugural lecture on <span class="cmti-10">Emerging Trends in Cloud Computing </span>(12th
     April 2014), Prof. Janakiram D, IIT Madras
     </li>
     <li class="enumerate" id="x1-25x12">
<span class="cmbx-10">Faculty Coordinator</span>, Asian Programming Contest  2014 (29th March, 2014)
     </li>
     <li class="enumerate" id="x1-27x13">
<span class="cmbx-10">Convener</span>, QIP Short Term Course on <span class="cmti-10">Developments and Challenges in Cloud Computing </span>(10-14
     June, 2013)
     </li>
     <li class="enumerate" id="x1-29x14">
<span class="cmbx-10">Convener</span>, One-day workshop on <span class="cmti-10">High Performance Computing</span>. June, 2012
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Organizing Member</span>, Two-day workshop on <span class="cmti-10">Cloud Computing and Security Issues</span>, 12-13 July,
     2012, Osmania University, Hyderabad, India.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-33x16">
<span class="cmbx-10">Convener</span>, National Level Students Technical Symposium (Paper Presentation Competition) ,
     ABHISARGA-2004 (23rd  24th Sept., 2004)
     </li>
     <li class="enumerate" id="x1-35x17">
<span class="cmbx-10">Convener</span>, National Short Term Training Program on OOAD &amp; UML(18th  22nd July, 2005)
     </li>
     <li class="enumerate" id="x1-37x18">
<span class="cmbx-10">Convener</span>, National Short Term Training on Databases &amp; Oracle (9th  13th March, 2006)
     </li>
     <li class="enumerate" id="x1-39x19">
<span class="cmbx-10">Convener</span>, State Level Competitions for INFOSYS campus connect students, ASPIRATIONS-2020
     (14th August, 2007)
     </li>
     <li class="enumerate" id="x1-41x20">
<span class="cmbx-10">Convener</span>, Second Alumni Meet (23rd February, 2008)
     </li>
     <li class="enumerate" id="x1-43x21">
<span class="cmbx-10">Acted as Chairperson</span>, Advisor or Member for various events organized at National level or State
     level.
     </li>
</ol>
    
</div>
