<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member </span>(Nov 2011   Oct 2014), UG Board of Studies in Dept. of Electronics and Computer
     Engineering, Jawaharlal Nehru Technological University, Anantapur, (A.P.), India.
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">Member </span>(16-08-2017 to Till Date) Institute Technical Committee for E-mail Services
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Convener </span>(05-2018 to Till Date), Department Faculty Search Committee
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Member </span>(November, 2016 to Till Date) Institute Academic Programme Committee (IAPC)
     </li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Member </span>(01-02-2017 to 2018) Institute Material Disposal Committee
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">Staff Advisor</span>, Web Design/Software Development Section, Hobbies Club (2013-2017)
     </li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Member </span>(November 2016 to Till Date), Department Academic Programme Committee (DAPC)
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Member </span>(20-Jan-2015 to Till Date) Department Purchase Committee
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmbx-10">Member </span>(29-08-2014 to Aug, 2016), Department Administrative Committee
     </li>
     <li class="enumerate" id="x1-21x10">
<span class="cmbx-10">Officer-in-Charge</span>, (November, 2015 to Till Date), M.Tech Programme
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Officer-in Charge</span>, (September, 2013 to January, 2015) Department Examinations
     </li>
     <li class="enumerate" id="x1-25x12">
<span class="cmbx-10">Officer-in Charge </span>(September, 2013 to October, 2015) Department Time Tables
     </li>
     <li class="enumerate" id="x1-27x13">
<span class="cmbx-10">Officer-in Charge</span>,(Sept, 2011 to Till Date), High Performance Computing (HPC) Lab
     </li>
     <li class="enumerate" id="x1-29x14">
<span class="cmbx-10">Officer-in Charge</span>, (Mar 2011 to January, 2015), Computer Lab - II
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(09-09-2011 to 31-08-2013), Department Research Committee (DRC).
     </li>
     <li class="enumerate" id="x1-33x16">Outside IIT Roorkee
         <ul class="itemize1">
         <li class="itemize">
<span class="cmbx-10">Head </span>(Jul, 2007 to Dec, 2010), Department of Information Technology
         </li>
         <li class="itemize">
<span class="cmbx-10">Head </span>(May,  2005  to  Jun,  2006),  Departments  of  Computer  Science  &amp;  Engineering  and
         Information Technology
         </li>
         <li class="itemize">
<span class="cmbx-10">In-charge </span>(Oct, 1997 to Oct, 1999), Department of Computer Science &amp; Engineering
         </li>
         <li class="itemize">
<span class="cmbx-10">Chairperson </span>(Dec, 2005 to Jul, 2008), Online Examinations
                                                                                       
                                                                                       
         </li>
         <li class="itemize">
<span class="cmbx-10">JKC College Coordinator </span>(Jun, 2006  Aug, 2006) at various Engineering Colleges</li>
</ul>
     </li>
</ol>
    
</div>