<div>
     <ol class="enumerate1">
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member </span>(22-09-2021 to Till Date), Department Research Committee (DRC).
     </li>
            <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member </span>(01-07-2019 to 30-06-202),dvisory Committee, Dean of Resources &
Alumni Affairs (DORA).
     </li>
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member </span>(02-09-2021 to Till Date),  Chief Warden, New Hostel Vigyankunj (Boys).
     </li>
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member </span>(??? to Till Date)), Department Faculty Search Committee.
     </li>
           <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member </span>(24-8-2021 to Till Date), Department Academic Programme Committee (DAPC).
     </li>
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member </span>(15-11-2018 to Till Date), Department Administrative Committee.
     </li>
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Officer-in-Charge</span>, (1-1-2021 to Till Date), Department Examinations.
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Faculty Advisor</span>, (29-6-2022 to till date) M. Tech (CSE) II Year.
     </li>
     <li class="enumerate" id="x1-25x12">
<span class="cmbx-10">Officer-in Charge </span>(September 2011 to Till Date) High-Performance Computing (HPC) Lab
     </li>
    
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(15-11-2018 to 31-12-202), Department Research Committee (DRC).
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Convener </span>(14-05-2018 to 14-5-202),  Department Faculty Search Committee.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(16-08-2017 to July 2018),  Institute Technical Committee for E-mail Ser-
vices.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(November, 2016 to 15-11-2018),Institute Academic Programme Com-
mittee (IAPC).
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(01-02-2017 to 2018),  Institute Material Disposal Committee.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Staff Advisor </span>(2013-2017), Web Design/Software Development Section, Hobbies
Club.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(November 2016 to 15-11-2018), Department Academic Programme Com-
mittee (DAPC).
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(20-Jan-2015 to Till Date), Department Purchase Committee.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(29-08-2014 to August 2016),  Department Administrative Committee.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Officer-in-Charge </span>(November 2015 to Till Date),  M.Tech Programme.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Officer-in-Charge </span>(September 2013 to January 2015),  Department Examinations.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Officer-in-Charge </span>(September 2013 to October 2015), Department Time Tables.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Officer-in-Charge </span>(Mar 2011 to January 2015),  Computer Lab - II.
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Member </span>(09-09-2011 to 31-08-2013),  Department Research Committee (DRC).
     </li>
     <li class="enumerate" id="x1-33x16">Outside IIT Roorkee
         <ul class="itemize1">
         <li class="itemize">
<span class="cmbx-10">Head </span>(Jul, 2007 to Dec, 2010), Department of Information Technology
         </li>
         <li class="itemize">
<span class="cmbx-10">Head </span>(May,  2005  to  Jun,  2006),  Departments  of  Computer  Science  &amp;  Engineering  and
         Information Technology
         </li>
         <li class="itemize">
<span class="cmbx-10">In-charge </span>(Oct, 1997 to Oct, 1999), Department of Computer Science &amp; Engineering
         </li>
         <li class="itemize">
<span class="cmbx-10">Chairperson </span>(Dec, 2005 to Jul, 2008), Online Examinations
                                                                                       
                                                                                       
         </li>
         <li class="itemize">
<span class="cmbx-10">JKC College Coordinator </span>(Jun, 2006  Aug, 2006) at various Engineering Colleges</li>
</ul>
     </li>
     <li class="enumerate" id="x1-35x17">
<span class="cmbx-10">Member </span>(Nov 2011  Oct 2014), UG Board of Studies in Dept. of Electronics and Computer Engineering,
     Jawaharlal Nehru Technological University, Anantapur, (A.P.), India.
     </li>
</ol>
    
</div>
