  <li><i class="fa fa-fw fa-envelope-square"></i> drpskfec AT iitr (.) ac (.) in</li>
  <li><i class="fa fa-fw fa-envelope-square"></i> sateesh AT ieee (.) org</li>
{% if author.phone %}
  <li><i class="fa fa-phone fa-fw"></i> {{ author.phone }}</li>
{% endif %}
{% if author.googlescholar %}
  <li><a href="{{ author.googlescholar  }}"><i class="ai ai-google-scholar-square ai-fw"></i> Google Scholar</a></li>
{% endif %}
{% if author.dblp %}
  <li>
    <a href="{{ author.dblp  }}"><i class="ai ai-dblp ai-fw"></i> DBLP</a>
    {% if author.dblp1 %}<a href="{{ author.dblp1  }}"> Alternate</a>{% endif %}
    {% if author.dblp2 %}<a href="{{ author.dblp2  }}"> Alternate</a> {% endif %}
  </li>
{% endif %}

