<div>
     <ul class="itemize1">
     <li class="itemize">Awards and Professional Recognitions:
         <ul class="itemize2">
         <li class="itemize">Recipient of the <span class="cmbxti-10">Merit Scholarship for University 4th Rank </span>in Master’s Course (1995).
         </li>
         <li class="itemize">Recipient  of  the  <span class="cmbxti-10">Travel  Grants  from  Department  of  Science  and  Technology,</span>
         <span class="cmbxti-10">Ministry of S &amp; T </span>(INR 1.8 Lakhs).
         </li>
         <li class="itemize">Recipient of the <span class="cmbxti-10">Best Paper Award </span>(Conference).
         </li>
         <li class="itemize">Recipient of the <span class="cmbxti-10">Best Presentation Award </span>(Conference).
         </li>
         <li class="itemize">Recipient of <span class="cmbxti-10">IBM Shared University Award </span>(from September 2013 to September 2016)</li>
</ul>
     </li>
     <li class="itemize">Other Significant Accomplishments for Professional Recognition:
         <ul class="itemize2">
         <li class="itemize">Editor, Journal of Spatio-Temporal Data Science, Inderscience.
         </li>
         <li class="itemize">Vice Chairman, IEEE Computer Society, India Council (2015-Till Date).
         </li>
         <li class="itemize">Secretary, IEEE Roorkee Subsection, India (2018-Till Date).
         </li>
         <li class="itemize">Founder Faculty Sponsor, ACM Students Chapter, IIT Roorkee, India (2015-Till Date).
         </li>
         <li class="itemize">Chaired Session in IEEE MASS 2017, flagship conference in MANETs and Sensors.
         </li>
         <li class="itemize">Reviewer: IEEE Trans. Cloud Computing
         </li>
         <li class="itemize">Reviewer: IEEE Trans. Service Computing
         </li>
         <li class="itemize">Outstanding Reviewer: Elsevier Computer Networks
         </li>
         <li class="itemize">Recognized Reviewer: Elsevier Computers and Security
         </li>
         <li class="itemize">Reviewer: Elsevier Journal of Network and Computer Applications
         </li>
         <li class="itemize">Reviewer: Springer International Journal of Information Security
         </li>
</ul>
     </li>
</ul>
    
</div>