<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">Prachi  Deshpande,  S.  C.  Sharma,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  “<span class="cmti-10">Security and Data Storage Aspect</span>
     <span class="cmti-10">in  Cloud  Computing</span>,”  Springer  Series  in  Studies  in  Big  Data,  <span class="cmti-10">in  progress</span>,  Springer–Verlag,
     Berlin–Heidelberg, Germany, likely in 2018. (<span class="cmti-10">yet to be indexed</span>).
     </li>
     <li class="enumerate" id="x1-5x2">C. M. Bhatt, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Cloud Computing Systems and Applications in Healthcare</span>,”
     IGI Publisher, 2017. <br class="newline">DOI: <a href="https://doi.org/10.4018/978-1-5225-1002-4" class="url"><span class="cmtt-10">https://doi.org/10.4018/978-1-5225-1002-4</span></a>.
     </li>
     <li class="enumerate" id="x1-7x3">P. Suresh Kumar, P. Sateesh Kumar, S. A. Moiz, Proceedings of the National Workshop on Mobile
     Computing, Organized by Osmania University, Hyderabad held during 5th  7th June, 2008.
     </li>
</ol>
    
</div>