<div>
     <ol class="enumerate1">
          <li class="enumerate" id="x1-5x2">M. Seetha, <span class="cmbx-10">Sateesh K. Peddoju</span>,Vishnu Pendyala and Vedula VSSS Chakravarthy, “<span class="cmti-10">Proceedings of 6th International Conference on Intelligent Computing and Commu-
nication - ICICC 2022,</span>,”
     dvances in Intelligent Systems and Computing, Springer,
2023 (In Press)  <br class="newline">(M. Seetha is the Co-Editor with Sateesh K. Peddoju)
     </li>
          <li class="enumerate" id="x1-5x2">C. M. Bhatt, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Cloud Computing Systems and Applications in Healthcare</span>,”
     IGI Publisher, 2017. <br class="newline">DOI: <a href="https://doi.org/10.4018/978-1-5225-1002-4" class="url"><span class="cmtt-10">https://doi.org/10.4018/978-1-5225-1002-4</span></a>. <br class="newline">(C. M. Bhatt is the Co-Editor with Sateesh K. Peddoju)
     </li>
          <li class="enumerate" id="x1-5x2">C. M. Bhatt, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Cloud Computing Systems and Applications in Healthcare</span>,”
     IGI Publisher, 2017. <br class="newline">DOI: <a href="https://doi.org/10.4018/978-1-5225-1002-4" class="url"><span class="cmtt-10">https://doi.org/10.4018/978-1-5225-1002-4</span></a>. <br class="newline">(C. M. Bhatt is the Co-Editor with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-3x1">Prachi Deshpande, S. C. Sharma, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Security and Data Storage Aspect in</span>
     <span class="cmti-10">Cloud Computing</span>,”  Springer Series in Studies in Big Data, Springer–Verlag, Berlin–Heidelberg,
     Germany, 2018. <br class="newline">DOI:                         <a href="https://doi.org/10.1007/978-981-13-6089-3" class="url"><span class="cmtt-10">https://doi.org/10.1007/978-981-13-6089-3</span></a>.                         Link:
     <a href="https://www.springer.com/gp/book/9789811360886" class="url"><span class="cmtt-10">https://www.springer.com/gp/book/9789811360886</span></a>. <br class="newline">(Prachi Deshpande did her Ph. D thesis work with Dr. Subhash C. Sharma. Sateesh K. Peddoju is
     the colleague to Dr. Subhash C. Sharma and is the Co-Supervisor to Prachi Deshpande)
     </li>
     <li class="enumerate" id="x1-5x2">C. M. Bhatt, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Cloud Computing Systems and Applications in Healthcare</span>,”
     IGI Publisher, 2017. <br class="newline">DOI: <a href="https://doi.org/10.4018/978-1-5225-1002-4" class="url"><span class="cmtt-10">https://doi.org/10.4018/978-1-5225-1002-4</span></a>. <br class="newline">(C. M. Bhatt is the Co-Editor with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-7x3">P. Suresh Kumar, <span class="cmbx-10">Sateesh K. Peddoju</span>, S. A. Moiz, Editorial Board of Proceedings of the National
     Workshop on Mobile Computing, Organized by Osmania University, Hyderabad held during 5th
     7th June, 2008. <br class="newline">(P. Suresh Kumar and S. A. Moiz are the Co-Editors with Sateesh K. Peddoju)</li>
</ol>
    
</div>
