<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">C. M. Bhatt, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Cloud Computing Systems and Applications in Healthcare</span>,”
     IGI Publisher, 2017 (<span class="cmti-10">DOI: 10.4018/978-1-5225-1002-4</span>).
     </li>
     <li class="enumerate" id="x1-5x2">Prachi  Deshpande,  S.  C.  Sharma,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  “<span class="cmti-10">Security and Data Storage Aspect</span>
     <span class="cmti-10">in  Cloud  Computing</span>,”  Springer  Series  in  Studies  in  Big  Data,  <span class="cmti-10">in  progress</span>,  Springer–Verlag,
     Berlin–Heidelberg, Germany, likely in 2018 (<span class="cmti-10">ISBN ...yet to index</span>).
     </li>
</ol>
    
</div>