<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">TPC</span>, <span class="cmti-10">2nd ISEA International Conference on Security &amp; Privacy 2018  </span><span class="cmbx-10">(ISEA ISAP 2018)</span>,
     January 09-13, 2019, MNIT, Jaipur, India.
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">General Co-Chair</span>, <span class="cmti-10">The IEEE Second International Workshop on Data Science Engineering and</span>
     <span class="cmti-10">its Applications  </span><span class="cmbx-10">(DSEA 2018) </span>In conjunction with The Fifth IEEE International Conference
     on Social Networks Analysis, Management and Security <span class="cmbx-10">(SNAMS-2018) </span>, October 15-18, 2018,
     Valencia, Spain.
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Program Committee Member</span>, <span class="cmti-10">IEEE International Symposium on Smart Electronic Systems</span>
     <span class="cmbx-10">(iSES  2018)</span>.  Track  -  Hardware/Software  for  Internet  of  Things  and  Consumer  Electronics  ,
     December 17-19, 2018, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Workshop Co-Chair</span>, <span class="cmti-10">The IEEE Fifth International Conference on Internet of Things - Systems,</span>
     <span class="cmti-10">Management and Security </span><span class="cmbx-10">(IoTSMS 2018) </span>, October 15-18, 2018, Valencia, Spain.
     <!--l. 18--><p class="noindent"><span class="cmbx-10">Program  Committee  Member</span>,  <span class="cmti-10">The 15th IEEE International Conference on Advanced and</span>
     <span class="cmti-10">Trusted Computing </span><span class="cmbx-10">(IEEE ATC 2018) </span>, October 8-12, 2018, Guangzhou, China.
     </p>
</li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Program Committee Member</span>, <span class="cmti-10">The 2nd IEEE International Workshop on 5G in Internet of</span>
     <span class="cmti-10">Things </span><span class="cmbx-10">(5G-IoT 2018) </span>as part of <span class="cmti-10">The 43rd IEEE Conference on Local Computer Networks </span><span class="cmbx-10">(LCN)</span>
     , October 1-4, 2018, Chicago, USA.
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">General  Chair</span>,  <span class="cmti-10">IEEE  International  Workshop  on  Smart  Living  with  IoT,  Cloud,  and  Edge</span>
     <span class="cmti-10">Computing </span>(<span class="cmbx-10">SLICE 2018</span>), in conjunction with The <span class="cmti-10">Third IEEE International Conference on Fog</span>
     <span class="cmti-10">and Mobile Edge Computing </span>(<span class="cmbx-10">FMEC 2018</span>), April 23-26, 2018, Barcelona, Spain.
     <!--l. 26--><p class="noindent"><span class="cmbx-10">Program  Committee  Member</span>,  <span class="cmti-10">International  Conference  on  Innovative  Technologies  in</span>
     <span class="cmti-10">Engineering </span><span class="cmbx-10">(ICITE 2018) </span>, April 11-13, 2018, Hyderabad, India.
     </p>
</li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Publication and EDAS Co-Chair</span>, <span class="cmti-10">The Six IEEE International Workshop on Cloud Computing</span>
     <span class="cmti-10">Systems, Networks, and Applications  </span>(<span class="cmbx-10">CCSNA</span>)  in  conjunction  with  <span class="cmti-10">IEEE Mobile Adhoc and</span>
     <span class="cmti-10">Sensor Systems </span>(<span class="cmbx-10">MASS 2017</span>), October 22-25, 2017, Orlando, FL, USA.
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Session Chair</span>, <span class="cmti-10">The Six IEEE International Workshop on Cloud Computing Systems, Networks,</span>
     <span class="cmti-10">and Applications </span>(<span class="cmbx-10">CCSNA</span>) in conjunction with <span class="cmti-10">IEEE Mobile Adhoc and Sensor Systems </span>(<span class="cmbx-10">MASS</span>
     <span class="cmbx-10">2017</span>), October 22-25, 2017, Orlando, FL, USA.
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmbx-10">Program Committee Member</span>, <span class="cmti-10">The 14th IEEE Conference on Advanced and Trusted Computing</span>
     (<span class="cmbx-10">ATC-2017</span>), August 4-8, 2017, San Francisco Bay Area, USA.
     </li>
     <li class="enumerate" id="x1-21x10">
<span class="cmbx-10">Program  Committee  Member</span>,  <span class="cmti-10">First  International  Workshop  on  Artificially  Intelligent</span>
     <span class="cmti-10">Smart  SocieTies   </span>(<span class="cmbx-10">AIST2017</span>),  <span class="cmti-10">3rd  IEEE  International  Conference  on  Smart  Computing</span>
     (<span class="cmbx-10">SMARTCOMP 2017</span>), May 29-31, 2017, Hong Kong.
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Program  Committee  Member</span>,  <span class="cmti-10">Hardware/Software  for  Internet  of  Things  and  Consumer</span>
     <span class="cmti-10">Electronics  Track  in  3rd  IEEE  International  Symposium  on  Nanoelectronic  and  Information</span>
     <span class="cmti-10">Systems </span>(<span class="cmbx-10">IEEE-iNIS</span>), 18-20 December, 2017, Bhopal, India.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-25x12">
<span class="cmbx-10">Program Committee Member</span>, <span class="cmti-10">2018 8th International Conference on Cloud Computing, Data</span>
     <span class="cmti-10">Science &amp; Engineering- Confluence 2018</span>, January 11-12, 2018, Noida, India.
     </li>
     <li class="enumerate" id="x1-27x13">
<span class="cmbx-10">Program Committee Member</span>, <span class="cmti-10">Asia Security and Privacy Conference 2017 </span>(<span class="cmbx-10">Asia S&amp;P 2017</span>),
     Jan 30th - Feb 1st, 2017, SVNIT Surat, India.
     </li>
     <li class="enumerate" id="x1-29x14">
<span class="cmbx-10">Program   Committee   Member</span>,   <span class="cmti-10">Confluence-2016:  GLOBAL  Technology,  Innovation  &amp;</span>
     <span class="cmti-10">Entrepreneurship Summit 2016  </span>(<span class="cmbx-10">Global TIE Summit 2016</span>), <span class="cmti-10">6th International Conference on</span>
     <span class="cmti-10">Cloud System and Big Data Engineering, Confluence</span>, 14-15, January, 2016, Noida, Delhi-NCR,
     India
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Program Committee Member</span>, <span class="cmti-10">Fifth International Conference on Communication Systems and</span>
     <span class="cmti-10">Network Technologies </span>(<span class="cmbx-10">CSNT</span>), 4-6, April, 2015, Gwalior, India
     </li>
     <li class="enumerate" id="x1-33x16">
<span class="cmbx-10">Program Committee Member</span>, <span class="cmti-10">IEEE 14th International Conference on Information Technology</span>
     (<span class="cmbx-10">ICIT</span>), 21-23, December, 2015, Bhubaneshwar, India
     </li>
     <li class="enumerate" id="x1-35x17">
<span class="cmbx-10">Technical  Program  Committee  Member</span>,  <span class="cmti-10">IEEE  Region  10  Technical  Symposium  2015</span>
     (<span class="cmbx-10">TENSYMP</span>), 13-15, May, 2015, Ahmedabad, Gujarat, India
     </li>
     <li class="enumerate" id="x1-37x18">
<span class="cmbx-10">Technical Program Committee Member</span>, <span class="cmti-10">Fifth International Conference on Communication</span>
     <span class="cmti-10">Systems and Network Technologies </span>(<span class="cmbx-10">CSNT</span>), 4-6, April, 2015, Gwalior, India.
     </li>
     <li class="enumerate" id="x1-39x19">
<span class="cmbx-10">Session  Chair</span>,  <span class="cmti-10">International  Conference  on  Computing  and  Communication  Technologies</span>
     (<span class="cmbx-10">ICCCT</span>), 11-13, December, 2014, Dept. of CSE, Osmania University, Hyderabad (Held at Novotel
     Hotel), India
     </li>
     <li class="enumerate" id="x1-41x20">
<span class="cmbx-10">Technical  Program  Committee  Member</span>,  <span class="cmti-10">International  Conference  on  Computing  and</span>
     <span class="cmti-10">Communication Technologies </span>(<span class="cmbx-10">ICCCT</span>), 11-13, December, 2014, Dept. of CSE, Osmania University,
     Hyderabad, India
     </li>
     <li class="enumerate" id="x1-43x21">
<span class="cmbx-10">Program   Committee   member   of   Communication   Networks   and   Protocols</span>,
     <span class="cmti-10">13th  International  Conference  on  Information  Technology  </span>(<span class="cmbx-10">ICIT</span>),  22-24,  December,  2014,
     Bhuvaneshwar, India
     </li>
     <li class="enumerate" id="x1-45x22">
<span class="cmbx-10">Track  Chair</span>,  <span class="cmti-10">Multimedia  Communication  Systems  and  Networks  </span>(<span class="cmbx-10">MCSN</span>)  track  of  the  <span class="cmti-10">2nd</span>
     <span class="cmti-10">International  Conference  on  Telecommunication  Systems  and  Networks  -  MIC-Telecom  2014</span>,
     Istanbul, Turkey, 19-21 December 2014
     </li>
     <li class="enumerate" id="x1-47x23">
<span class="cmbx-10">Program  Committee  Member</span>,  <span class="cmti-10">5th  International  Conference  Confluence  2014  The  Next</span>
     <span class="cmti-10">Generation Information Technology Summit </span>(<span class="cmbx-10">Confluence-2014</span>), 25-26, September, 2014, Amity
     University, Noida, U.P., India
     </li>
     <li class="enumerate" id="x1-49x24">
<span class="cmbx-10">Technical Program Committee Member</span>, <span class="cmti-10">Green Computing and Communication Track, 2nd</span>
     <span class="cmti-10">International Conference on Computer Science and Engineering </span>(<span class="cmbx-10">MIC-Computing 2014</span>), 15-17,
     August, 2014, Milan, Italy.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-51x25">
<span class="cmbx-10">Technical  Program  Committee  Member</span>,  <span class="cmti-10">Second International Symposium on Security in</span>
     <span class="cmti-10">Computing  and  Communications  </span>(<span class="cmbx-10">SSCC14</span>),  24-27,  September,  2014,  Galgotias  Educational
     Institutions, Greater Noida, India
     </li>
     <li class="enumerate" id="x1-53x26">
<span class="cmbx-10">Technical  Program  Committee  Member</span>,  <span class="cmti-10">4th  International  Conference  on  Advances  in</span>
     <span class="cmti-10">Computing, Communications and Informatics</span>, 10-13, August, 2014, Kochi, Kerala, India.
     </li>
     <li class="enumerate" id="x1-55x27">
<span class="cmbx-10">Session  Chair</span>,  <span class="cmti-10">IEEE  International  Conference  on  Security  and  Reliability  </span>(<span class="cmbx-10">SERE</span>)  held
     during 18-20 June, 2013 at <span class="cmti-10">National Institute of Science and Technology </span>(<span class="cmbx-10">NIST</span>), Gaithersburg,
     Washington DC, USA
     </li>
     <li class="enumerate" id="x1-57x28">
<span class="cmbx-10">Advisory  Board  Member</span>,  <span class="cmti-10">National  Conference  on  National  conference  on  Advances  in</span>
     <span class="cmti-10">Computing, Networking and Security </span>to be held during 23rd and 24th December 2013, Sri Guru
     GovindSinghji Institute of Engineering and Technology, Nanded, Maharastra, India
     </li>
     <li class="enumerate" id="x1-59x29">
<span class="cmbx-10">Advisory  Board  Member</span>,  <span class="cmti-10">National Conference on Wireless Communication and Embedded</span>
     <span class="cmti-10">Systems  </span>(<span class="cmbx-10">NCWCE    2013</span>)  held  on  23,  February  2013,  at  Department  of  Electronics  and
     Communications Engineering, Jayalaxmi Institute of Technology, Dharmapuri, Tamilnadu.
     </li>
     <li class="enumerate" id="x1-61x30">
<span class="cmbx-10">Advisory Board Member</span>, <span class="cmti-10">National Conference on Emerging Technologies in Computer Science</span>
     (<span class="cmbx-10">ETCS-12</span>) held during 20-21, October, 2012 at Department of CSE, IT and MCA, Noida Institute
     of Engineering and Technology (NIET), Greater Noida, India.
     </li>
     <li class="enumerate" id="x1-63x31">
<span class="cmbx-10">Session   Chair</span>,   <span class="cmti-10">Joint   UACEE   International   Conference   on   Pervasive   Computing   and</span>
     <span class="cmti-10">Communications </span>(<span class="cmbx-10">PCC 2012</span>) and <span class="cmti-10">Second International Conference on Computing, Control and</span>
     <span class="cmti-10">Communication </span>(<span class="cmbx-10">CCN-2012</span>), 17th June, 2012, NCR-Delhi, India
     </li>
     <li class="enumerate" id="x1-65x32">
<span class="cmbx-10">Organizing Committee</span>, <span class="cmti-10">National Workshop on Cloud Computing and Security Issues</span>, 12th -13th
     July, 2012, Department of CSE, Osmania University, Hyderabad, India
     </li>
     <li class="enumerate" id="x1-67x33">
<span class="cmbx-10">Session  Chair</span>,  <span class="cmti-10">The  2012  FTRA  International  Conference  on  Advanced  IT,  engineering</span>
     <span class="cmti-10">Management for Industrial Technology </span>(<span class="cmbx-10">FTRA AIM 2012</span>), February 6-8, Hana Square, Korea
     University, Seoul, Korea.
     </li>
     <li class="enumerate" id="x1-69x34">
<span class="cmbx-10">Program Committee</span>, <span class="cmti-10">IEEE International Conference on Communication Systems and Network</span>
     <span class="cmti-10">Technologies </span>(<span class="cmbx-10">CSNT-2012</span>), (10th  14th May, 2012), Rajkot, India.
     </li>
     <li class="enumerate" id="x1-71x35">
<span class="cmbx-10">Program    Committee</span>,    <span class="cmti-10">International   Conference   on   Computational   Intelligence   and</span>
     <span class="cmti-10">Communication Networks </span>(<span class="cmbx-10">CICN 2011</span>), (7th  9th October, 2011) Gwalior, India
     </li>
     <li class="enumerate" id="x1-73x36">
<span class="cmbx-10">Technical  Program  Committee</span>,  <span class="cmti-10">Second Vaagdevi IEEE Conference on IT for Real World</span>
     <span class="cmti-10">Problems </span>(9th  11th December, 2010), Warangal, India
     </li>
</ol>
    
</div>