<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">A. Anshul, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Hybrid Android Malware Detection by Combining Supervised</span>
     <span class="cmti-10">and Unsupervised Learning</span>,” in The 24th Annual Conference on Mobile Computing and Networking
     (MobiCom - 2018), New Delhi, India, October 29 - Novermber 2, 2018, ”Accepted”, (<span class="underline">ERA/CORE
     Rank: <span class="cmbx-10">A*</span></span>), <span class="cmbx-10">ACM SigMobile</span>. <br class="newline">(Anshul Arora is the Ph. D student with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-5x2">A. Anshul, <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">NTPDroid: A Hybrid Android Malware Detector using Network</span>
     <span class="cmti-10">Traffic and System Permissions</span>,”  in The 17th IEEE International Conference On Trust, Security
     And Privacy In Computing And Communications (IEEE TrustCom-18), New York, July 31 - August
     3, 2018, ”Accepted, In Press”, (<span class="underline">ERA/CORE Rank: <span class="cmbx-10">A</span></span>), <span class="cmbx-10">IEEE</span>. <br class="newline">(Anshul Arora is the Ph. D student with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-7x3">M. Santra, <span class="cmbx-10">Sateesh K. Peddoju</span>, A. K. Bhattacharjee, and A. Khan, “<span class="cmti-10">Design and Analysis of</span>
     <span class="cmti-10">a Modified Remote Attestation Protocol</span>,”  in The 16th IEEE International Conference On Trust,
     Security And Privacy In Computing And Communications (IEEE TrustCom-17), Sydney, Australia,
     August 1-4, 2017, pp. 578-585, (<span class="underline">ERA/CORE Rank: <span class="cmbx-10">A</span></span>), <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/Trustcom/BigDataSE/ICESS.2017.287" class="url"><span class="cmtt-10">https://doi.org/10.1109/Trustcom/BigDataSE/ICESS.2017.287</span></a>. <br class="newline">(Monika Santra did her M. Tech. Thesis with Sateesh K. Peddoju, and Dr. A. K. Bhattacharjee
     and Dr. Arindam Khan are the collaborators in this research work from BARC, Mumbai, India.
     Dr. A. K. Bhattacharjee, is the Co-Supervisor to Monika Santra, from BARC, India)
     </li>
     <li class="enumerate" id="x1-9x4">V. Mahajan and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Deployment of Intrusion Detection System in Cloud: A</span>
     <span class="cmti-10">Performance-Based Study</span>,”  in The 16th IEEE International Conference On Trust, Security And
     Privacy In Computing And Communications (IEEE TrustCom - 17), Sydney, Australia, August
     1-4, 2017, pp. 1103-1108. (<span class="underline">ERA/CORE Rank: <span class="cmbx-10">A</span></span>), <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/Trustcom/BigDataSE/ICESS.2017.359" class="url"><span class="cmtt-10">https://doi.org/10.1109/Trustcom/BigDataSE/ICESS.2017.359</span></a>. <br class="newline">(Varun Mahajan did his M. Tech. Thesis with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-11x5">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Energy-Service Trade-Off Model for Mobile Cloud Computing</span>,”
     in 2017 IEEE 14th International Conference on Mobile Ad Hoc and Sensor Systems (MASS),
     Orlando, USA, October 22-25, 2017, pp. 616-621, (<span class="underline">ERA/CORE Rank: <span class="cmbx-10">B</span></span>), <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/MASS.2017.64" class="url"><span class="cmtt-10">https://doi.org/10.1109/MASS.2017.64</span></a>. <br class="newline">(Anuradha Ravi did her Ph. D Thesis with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-13x6">A. Chaudhary, <span class="cmbx-10">Sateesh K. Peddoju</span>, and K. Kadarla, “<span class="cmti-10">Study of Internet-of-Things Messaging</span>
     <span class="cmti-10">Protocols  Used  for  Exchanging  Data  with  External  Sources</span>,” in  2017  IEEE  14th  International
     Conference on Mobile Ad Hoc and Sensor Systems (MASS), Orlando, USA, October 22-25, 2017,
     pp. 666-671, (<span class="underline">ERA/CORE Rank: <span class="cmbx-10">B</span></span>), <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/MASS.2017.85" class="url"><span class="cmtt-10">https://doi.org/10.1109/MASS.2017.85</span></a>. <br class="newline">(Ajay Chaudhary is the Ph. D student with Sateesh K. Peddoju, Kavitha Kadarla is the fellow
     lab-mate and research scholar)
     </li>
     <li class="enumerate" id="x1-15x7">A.  Kuity  and  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  “<span class="cmti-10">Performance  Evaluation  of  Container-Based  High</span>
     <span class="cmti-10">Performance Computing Ecosystem Using OpenPOWER</span>,”  in The International Supercomputing
     Conference (ISC) High Performance 2017 (31st edition), Frankfurt, Germany, June 18-22, 2017,
     Lecture Notes in Computer Science <span class="cmbx-10">(LNCS)</span>, vol 10524, pp. 290-308, (<span class="underline">ERA/CORE Rank: <span class="cmbx-10">C</span></span>),
     <span class="cmbx-10">Springer</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/978-3-319-67630-2_22" class="url"><span class="cmtt-10">https://doi.org/10.1007/978-3-319-67630-2_22</span></a>. <br class="newline">(Animesh Kuity is the Ph. D student with Sateesh K. Peddoju)
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-17x8">A. Arora and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Minimizing Network Traffic Features for Android Mobile</span>
     <span class="cmti-10">Malware  Detection</span>,”   in  The  18th  International  Conference  on  Distributed  Computing  and
     Networking (ICDCN), Hyderabad, India, January 4-7, 2017, Article 32 (10 pages), (<span class="underline">ERA/CORE
     Rank: <span class="cmbx-10">B</span></span>), <span class="cmbx-10">ACM</span>. <br class="newline">DOI: <a href="https://doi.org/10.1145/3007748.3007763" class="url"><span class="cmtt-10">https://doi.org/10.1145/3007748.3007763</span></a>. <br class="newline">(Anshul Arora is the Ph. D student with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-19x9">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Mask Region Grow segmentation algorithm for</span>
     <span class="cmti-10">low-computing devices</span>,” in 22nd National Conference on Communication (NCC), <span class="cmbx-10">IIT Guwahati</span>,
     India, March 4-6, 2016, pp. 1-6, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/NCC.2016.7561200" class="url"><span class="cmtt-10">https://doi.org/10.1109/NCC.2016.7561200</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-21x10">P. Deshpande, S. Sharma, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Data Storage Security in Cloud Paradigm</span>,”
     in The 5th International Conference on Soft Computing for Problem Solving (SocPros-2016), <span class="cmbx-10">IIT</span>
     <span class="cmbx-10">Roorkee</span>,  India,  December  23-4,  2016,  pp.  247-259,  The  Advances  in  Intelligent  Systems  and
     Computing (AISC), Volume 436, <span class="cmbx-10">Springer</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/978-981-10-0448-3_20" class="url"><span class="cmtt-10">https://doi.org/10.1007/978-981-10-0448-3_20</span></a>. <br class="newline">(Prachi Deshpande did her Ph. D thesis work with Dr. Subhash C. Sharma. Sateesh K. Peddoju is
     the colleague to Dr. Subhash C. Sharma and is the Co-Supervisor to Prachi Deshpande)
     </li>
     <li class="enumerate" id="x1-23x11">A. Sharma and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Response time based load balancing in cloud computing</span>,”in
     The International Conference on Control, Instrumentation, Communication and Computational
     Technologies (ICCICCT-2014), Kanyakumari, India, July 10-11, 2014, pp. 1287-1293, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/ICCICCT.2014.6993159" class="url"><span class="cmtt-10">https://doi.org/10.1109/ICCICCT.2014.6993159</span></a>. <br class="newline">(Agraj Sharma did his M. Tech. Thesis with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-25x12">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Mobility managed energy efficient Android mobile devices</span>
     <span class="cmti-10">using cloudlet</span>,”  in Students’ Technology Symposium (TechSym-2014), <span class="cmbx-10">IIT Kharagpur</span>, India,
     February 28 - March 2, 2014, pp. 402-407, <span class="cmbx-10">IEEE</span>, <span class="underline">(Best Presentation Award)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/TechSym.2014.6808085" class="url"><span class="cmtt-10">https://doi.org/10.1109/TechSym.2014.6808085</span></a>. <br class="newline">(Dr. Anuradha Ravi did her Ph. D Thesis with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-27x13">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Mobile Mixed Reality Based Damage Level</span>
     <span class="cmti-10">Estimation of Diseased Plant Leaf</span>,” in The 8th International Conference on Next Generation Mobile
     Apps, Services and Technologies (NGMAST),<span class="cmbx-10">Oxford University</span>, UK, September 10-12, 2014, pp.
     72-77, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/NGMAST.2014.56" class="url"><span class="cmtt-10">https://doi.org/10.1109/NGMAST.2014.56</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-29x14">A. Arora, S. Garg, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Malware detection using network traffic analysis</span>
     <span class="cmti-10">in android based mobile devices</span>,” in The 8th International Conference on Next Generation Mobile
     Apps, Services and Technologies (NGMAST), <span class="cmbx-10">Oxford University</span>, UK, September 10-12, 2014,
     pp. 66-71, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/NGMAST.2014.57" class="url"><span class="cmtt-10">https://doi.org/10.1109/NGMAST.2014.57</span></a>. <br class="newline">(Anshul Arora did his M. Tech. thesis with Sateesh K. Peddoju and Dr. Shree Garg did her Ph. D
     thesis work with Sateesh K. Peddoju (Co-supervisor))
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-31x15">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Energy efficient mobile vision system for plant</span>
     <span class="cmti-10">leaf disease identification</span>,”  in Wireless Communications and Networking Conference (WCNC),
     Istanbul, Turkey, April 6-9, 2014, pp. 3314-3319, (<span class="underline">ERA/CORE Rank: <span class="cmbx-10">B</span></span>), <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/WCNC.2014.6953083" class="url"><span class="cmtt-10">https://doi.org/10.1109/WCNC.2014.6953083</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-33x16">M. H. Kumar and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Energy efficient task scheduling for parallel workflows in</span>
     <span class="cmti-10">cloud environment</span>,” in The International Conference on Control, Instrumentation, Communication
     and  Computational  Technologies  (ICCICCT-2014),  Kanyakumari,  India,  July  10-11,  2014,  pp.
     1298-1303, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/ICCICCT.2014.6993161" class="url"><span class="cmtt-10">https://doi.org/10.1109/ICCICCT.2014.6993161</span></a>. <br class="newline">(Mallari Harish Kumar did his M. Tech. Thesis with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-35x17">G. Garkoti, <span class="cmbx-10">Sateesh K. Peddoju</span>, and R. Balasubramanian, “<span class="cmti-10">Detection of insider attacks in cloud</span>
     <span class="cmti-10">based e-healthcare environment</span>,” in The 13th International Conference on Information Technology
     (ICIT-2014), Bhubaneswar, India, December 22-24, 2014, pp. 195-200, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/ICIT.2014.43" class="url"><span class="cmtt-10">https://doi.org/10.1109/ICIT.2014.43</span></a>. <br class="newline">(Gaurav Gargoti did his M. Tech. Thesis with Sateesh K. Peddoju, and Dr. Balasubramanian R. is
     the colleague to Sateesh K. Peddoju and is a Co-Supervisor to Gaurav Gargoti)
     </li>
     <li class="enumerate" id="x1-37x18">S. Garg, A. K. Sarje, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Improved detection of P2P botnets through</span>
     <span class="cmti-10">network  behavior  analysis</span>,”  in  International  Conference  on  Security  in  Computer  Networks
     and  Distributed  Systems  (SNDS-2014),  <span class="cmbx-10">IIITM  Trivandrum</span>,  India,  March  13-14,  2014,
     Communications in Computer and Information Science, vol 420, pp. 334-345, <span class="cmbx-10">Springer</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/978-3-642-54525-2_30" class="url"><span class="cmtt-10">https://doi.org/10.1007/978-3-642-54525-2_30</span></a>. <br class="newline">(Shree Garg did her Ph. D thesis work with Dr. Anil K. Sarje. Sateesh K. Peddoju is the colleague
     to Dr. Anil K. Sarje and is the Co-Supervisor to Shree Garg)
     </li>
     <li class="enumerate" id="x1-39x19">S. Garg, A. Sarje, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Network traffic analysis of zeroaccess bot</span>,”  in
     The International conference on Cyber Security, <span class="cmbx-10">Stanford University</span>, USA, May 27-31, 2014, (6
     pages), <span class="cmbx-10">ASE</span>. <br class="newline">Link: <a href="https://pdfs.semanticscholar.org/32af/3ef10f049d7ca8e9d7240d2b0cbd94336e6c.pdf">PDF</a> <br class="newline">(Shree Garg did her Ph. D thesis work with Dr. Anil K. Sarje. Sateesh K. Peddoju is the colleague
     to Dr. Anil K. Sarje and is the Co-Supervisor to Shree Garg)
     </li>
     <li class="enumerate" id="x1-41x20">P. Deshpande, S. Sharma, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Implementation of a private cloud: a case</span>
     <span class="cmti-10">study</span>,” in The 3rd International Conference on Soft Computing for Problem Solving (SocPros-2013),
     <span class="cmbx-10">IIT Roorkee</span>, India, December 26-28, 2013, Advances in Intelligent Systems and Computing, Vol
     259, 2014, pp. 635-647, <span class="cmbx-10">Springer</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/978-81-322-1768-8_56" class="url"><span class="cmtt-10">https://doi.org/10.1007/978-81-322-1768-8_56</span></a>. <br class="newline">(Prachi Deshpande did her Ph. D thesis work with Dr. Subhash C. Sharma. Sateesh K. Peddoju is
     the colleague to Dr. Subhash C. Sharma and is the Co-Supervisor to Prachi Deshpande)
     </li>
     <li class="enumerate" id="x1-43x21">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Energy efficient seamless service provisioning in mobile cloud</span>
     <span class="cmti-10">computing</span>,” in The 7th International Symposium on Service Oriented System Engineering (SOSE),
     Redwood City, USA, March 25-28, 2013, pp. 463-471, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/SOSE.2013.67" class="url"><span class="cmtt-10">https://doi.org/10.1109/SOSE.2013.67</span></a>. <br class="newline">(Dr. Anuradha Ravi did her Ph. D Thesis with Sateesh K. Peddoju)
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-45x22">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  D.  Ghosh,  “<span class="cmti-10">Mobile  plant  species  classification:  a  low</span>
     <span class="cmti-10">computational approach</span>,”  in The 2nd International Conference on Image Information Processing
     (ICIIP-2013), Shimla, India, December 9-11, 2013, pp. 405-409, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/ICIIP.2013.6707624" class="url"><span class="cmtt-10">https://doi.org/10.1109/ICIIP.2013.6707624</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-47x23">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  D.  Ghosh,  “<span class="cmti-10">Unsupervised resolution independent based</span>
     <span class="cmti-10">natural plant leaf disease segmentation approach for mobile devices</span>,”  in The 5th IBM workshop
     on Collaborative Academia Research Exchange (CARE), New Delhi, India, October 17-19, 2013,
     Article 11(4 Pages), <span class="cmbx-10">ACM</span>. <br class="newline">DOI: <a href="https://doi.org/10.1145/2528228.2528240" class="url"><span class="cmtt-10">https://doi.org/10.1145/2528228.2528240</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-49x24">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  D.  Ghosh,  “<span class="cmti-10">Mobile augmented reality based interactive</span>
     <span class="cmti-10">teaching  &amp;  learning  system  with  low  computation  approach</span>,”  in  The  IEEE  Symposium  on
     Computational  Intelligence  in  Control  and  Automation  (CICA),  Singapore,  April  16-19,  2013,
     (<span class="underline">ERA/CORE Rank:<span class="cmbx-10">C</span></span>), pp. 97-103, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/CICA.2013.6611669" class="url"><span class="cmtt-10">https://doi.org/10.1109/CICA.2013.6611669</span></a>.<br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-51x25">A. Mehta, S. Prasad, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Improved Connected Region Based Approach</span>
     <span class="cmti-10">for Extraction of Principal Lines from Palm Images</span>,”  in The International Conference of Image
     and Signal Processing, Bangalore, India, August 9-11, 2013, Science and Technology, Volume 4, pp.
     104-112. <span class="underline">(Best Paper Award)</span>, <span class="cmbx-10">Elsevier</span>. <br class="newline">Link: <a href="https://www.searchdl.org/Resources/Public/Conf/2013/elsevierst4/ICSIP12.pdf" class="url"><span class="cmtt-10">https://www.searchdl.org/Resources/Public/Conf/2013/elsevierst4/ICSIP12.pdf</span></a> <br class="newline">(Aditya Mehta did his M.Tech to Sateesh K. Peddoju. Shitala Prasad did his Ph. D thesis work
     with Sateesh K. Peddoju.) .
     </li>
     <li class="enumerate" id="x1-53x26">A. Jain, M. Mishra, <span class="cmbx-10">Sateesh K. Peddoju</span>, and N. Jain, “<span class="cmti-10">Energy efficient computing-green cloud</span>
     <span class="cmti-10">computing</span>,”  in The International Conference on Energy Efficient Technologies for Sustainability
     (ICEETS), Nagercoil, India, April 10-12, 2013, pp. 978-982, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/ICEETS.2013.6533519" class="url"><span class="cmtt-10">https://doi.org/10.1109/ICEETS.2013.6533519</span></a>. <br class="newline">(Anubha Jain did her M. Tech. Thesis with Dr. Manoj Misra, and Sateesh K. Peddoju is the
     Co-Supervisor to her, Nitin Jain is the collaborator from NIT Suratkal)
     </li>
     <li class="enumerate" id="x1-55x27">S. Garg, A. K. Singh, A. K. Sarje, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Behaviour analysis of machine</span>
     <span class="cmti-10">learning algorithms for detecting P2P botnets</span>,”  in The 15th international conference on Advanced
     computing technologies (ICACT), Rajampet, India, September 21-22, 2013, pp. 1-4, <span class="cmbx-10">IEEE</span>. <br class="newline">DOI: <a href="https://doi.org/10.1109/ICACT.2013.6710523" class="url"><span class="cmtt-10">https://doi.org/10.1109/ICACT.2013.6710523</span></a>. <br class="newline">(Shree Garg did her Ph. D thesis work with Dr. Anil K. Sarje. Sateesh K. Peddoju is the colleague
     to Dr. Anil K. Sarje and is the Co-Supervisor to Shree Garg)
     </li>
     <li class="enumerate" id="x1-57x28">V. Chouhan and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Hierarchical storage technique for maintaining hop-count</span>
     <span class="cmti-10">to prevent ddos attack in cloud computing</span>,”  in  The  International  Conference  on  Advances  in
     Computing, Bangalore, India, July 4-6, 2012, Advances in Intelligent Systems and Computing, Vol
     174. pp. 511-518, <span class="cmbx-10">Springer</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/978-81-322-0740-5_62" class="url"><span class="cmtt-10">https://doi.org/10.1007/978-81-322-0740-5_62</span></a>. <br class="newline">(Vikas Chouhan did his M. Tech. Thesis with Sateesh K. Peddoju)
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-59x29">H.  Verma,  D.  Toshniwal,  and  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  “<span class="cmti-10">Distributed  frequent  itemset  mining</span>
     <span class="cmti-10">framework for incremental data using MPI-style WSRF services</span>,” in The International Conference
     on  Advances  in  Computing,  Communications  and  Informatics  (ICACCI-2012),  Chennai,  India,
     August 3-5, 2012, pp. 74-81, <span class="cmbx-10">ACM</span>. <br class="newline">DOI: <a href="https://doi.org/10.1145/2345396.2345409" class="url"><span class="cmtt-10">https://doi.org/10.1145/2345396.2345409</span></a>. <br class="newline">(Haris Verma did his M. Tech. Thesis with Dr. Durga Toshniwal, and Sateesh K. Peddoju is the
     Co-Supervisor to him)
     </li>
     <li class="enumerate" id="x1-61x30">S. Prasad, A. Prakash, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Control of computer process using</span>
     <span class="cmti-10">image processing and computer vision for low-processing devices</span>,” in The International Conference
     on  Advances  in  Computing,  Communications  and  Informatics  (ICACCI-2012),  Chennai,  India,
     August 3-5, 2012, pp. 1169-1174, <span class="cmbx-10">ACM</span>. <br class="newline">DOI: <a href="https://doi.org/10.1145/2345396.2345583" class="url"><span class="cmtt-10">https://doi.org/10.1145/2345396.2345583</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work and Abhay Prakash did his M.Tech thesis work with
     Sateesh  K.  Peddoju,  Dr.  Debashis  Ghosh  is  the  colleague  to  Sateesh  K.  Peddoju  and  is  the
     Co-Supervisor to Shitala Prasad)
     </li>
</ol>
    
</div>