<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">M. Santra, <span class="cmbx-10">Sateesh K. Peddoju</span>, A. K. Bhattacharjee, and A. Khan, “<span class="cmti-10">Design and Analysis of a</span>
     <span class="cmti-10">Modified Remote Attestation Protocol</span>,” in 2017 IEEE Trustcom/BigDataSE/ICESS, Sydney, 2017,
     pp. pp. 578-585. <span class="cmbx-10">(Tier-1 Conference)</span>.
     </li>
     <li class="enumerate" id="x1-5x2">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Energy-Service Trade-Off Model for Mobile Cloud Computing</span>,”
     in 2017 IEEE 14th International Conference on Mobile Ad Hoc and Sensor Systems (MASS), 2017,
     pp. 616-621. <span class="cmbx-10">(Tier-2 Conference)</span>.
     </li>
     <li class="enumerate" id="x1-7x3">V. Mahajan and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Deployment of Intrusion Detection System in Cloud:</span>
     <span class="cmti-10">A Performance-Based Study</span>,”  in Trustcom/BigDataSE/ICESS, 2017 IEEE, 2017, pp. 1103-1108.
     <span class="cmbx-10">(Tier-1 Conference)</span>.
     </li>
     <li class="enumerate" id="x1-9x4">A.  Kuity  and  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  “<span class="cmti-10">Performance  Evaluation  of  Container-Based  High</span>
     <span class="cmti-10">Performance Computing Ecosystem Using OpenPOWER</span>,”  in International Conference on High
     Performance Computing, 2017, pp. 290-308. <span class="cmbx-10">(Tier-2 Conference)</span>.
     </li>
     <li class="enumerate" id="x1-11x5">A. Chaudhary, <span class="cmbx-10">Sateesh K. Peddoju</span>, and K. Kadarla, “<span class="cmti-10">Study of Internet-of-Things Messaging</span>
     <span class="cmti-10">Protocols  Used  for  Exchanging  Data  with  External  Sources</span>,” in  2017  IEEE  14th  International
     Conference  on  Mobile  Ad  Hoc  and  Sensor  Systems  (MASS),  2017,  pp.  666-671.  <span class="cmbx-10">(Tier-2</span>
     <span class="cmbx-10">Conference)</span>.
     </li>
     <li class="enumerate" id="x1-13x6">A. Arora and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Minimizing Network Traffic Features for Android Mobile</span>
     <span class="cmti-10">Malware Detection</span>,” in Proceedings of the 18th International Conference on Distributed Computing
     and Networking, 2017, p. 32. <span class="cmbx-10">(Tier-2 Conference)</span>.
     </li>
     <li class="enumerate" id="x1-15x7">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Mask Region Grow segmentation algorithm for</span>
     <span class="cmti-10">low-computing devices</span>,”  in Communication (NCC), 2016 Twenty Second National Conference on,
     2016, pp. 1-6. <span class="cmbx-10">(Tier-2 Conference)</span>.
     </li>
     <li class="enumerate" id="x1-17x8">P. Deshpande, S. Sharma, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Data Storage Security in Cloud Paradigm</span>,”
     in Proceedings of Fifth International Conference on Soft Computing for Problem Solving, 2016, pp.
     247-259.  <span class="cmbx-10">(IIT Roorkee)</span>.
     </li>
     <li class="enumerate" id="x1-19x9">A. Sharma and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Response time based load balancing in cloud computing</span>,”in
     Control,  Instrumentation,  Communication  and  Computational  Technologies  (ICCICCT),  2014
     International Conference on, 2014, pp. 1287-1293.
     </li>
     <li class="enumerate" id="x1-21x10">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Mobility managed energy efficient Android mobile devices</span>
     <span class="cmti-10">using cloudlet</span>,”  in Students’ Technology Symposium (TechSym), 2014 IEEE, 2014, pp. 402-407.
     (IIT Kharagpur) <span class="cmbx-10">(Best Presentation Award)</span>.
     </li>
     <li class="enumerate" id="x1-23x11">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Mobile Mixed Reality Based Damage Level</span>
     <span class="cmti-10">Estimation of Diseased Plant Leaf</span>,”  in Next Generation Mobile Apps, Services and Technologies
     (NGMAST), 2014 Eighth International Conference on, 2014, pp. 72-77.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-25x12">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Energy efficient mobile vision system for plant</span>
     <span class="cmti-10">leaf disease identification</span>,” in Wireless Communications and Networking Conference (WCNC), 2014
     IEEE, 2014, pp. 3314-3319. <span class="cmbx-10">(Tier-2 Conference)</span>.
     </li>
     <li class="enumerate" id="x1-27x13">M. H. Kumar and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Energy efficient task scheduling for parallel workflows in</span>
     <span class="cmti-10">cloud environment</span>,” in Control, Instrumentation, Communication and Computational Technologies
     (ICCICCT), 2014 International Conference on, 2014, pp. 1298-1303.
     </li>
     <li class="enumerate" id="x1-29x14">G. Garkoti, <span class="cmbx-10">Sateesh K. Peddoju</span>, and R. Balasubramanian, “<span class="cmti-10">Detection of insider attacks in cloud</span>
     <span class="cmti-10">based e-healthcare environment</span>,” in Information Technology (ICIT), 2014 International Conference
     on, 2014, pp. 195-200.
     </li>
     <li class="enumerate" id="x1-31x15">S. Garg, A. K. Sarje, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Improved detection of P2P botnets through</span>
     <span class="cmti-10">network behavior analysis</span>,”  in International Conference on Security in Computer Networks and
     Distributed Systems, 2014, pp. 334-345.
     </li>
     <li class="enumerate" id="x1-33x16">S. Garg, A. Sarje, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Network traffic analysis of zeroaccess bot</span>,” in The
     ASE International conference on Cyber Security, Stanford University, 2014.
     </li>
     <li class="enumerate" id="x1-35x17">P. Deshpande, S. Sharma, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Implementation of a private cloud: a case</span>
     <span class="cmti-10">study</span>,”  in  Proceedings  of  the  Third  International  Conference  on  Soft  Computing  for  Problem
     Solving, 2014, pp. 635-647.
     </li>
     <li class="enumerate" id="x1-37x18">A. Arora, S. Garg, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Malware detection using network traffic analysis</span>
     <span class="cmti-10">in  android  based  mobile  devices</span>,” in  Next  generation  mobile  apps,  services  and  technologies
     (NGMAST), 2014 eighth international conference on, 2014, pp. 66-71.
     </li>
     <li class="enumerate" id="x1-39x19">T. Sen and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Hierarchal identity based socket for datacenters</span>,”  in Software
     Security and Reliability-Companion (SERE-C), 2013 IEEE 7th International Conference on, 2013,
     pp. 63-67.
     </li>
     <li class="enumerate" id="x1-41x20">A.  Ravi  and  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  “<span class="cmti-10">Energy efficient seamless service provisioning in mobile</span>
     <span class="cmti-10">cloud computing</span>,”  in Service Oriented System Engineering (SOSE), 2013 IEEE 7th International
     Symposium on, 2013, pp. 463-471.
     </li>
     <li class="enumerate" id="x1-43x21">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  D.  Ghosh,  “<span class="cmti-10">Mobile  plant  species  classification:  a</span>
     <span class="cmti-10">low  computational  approach</span>,”  in  Image  Information  Processing  (ICIIP),  2013  IEEE  Second
     International Conference on, 2013, pp. 405-409.
     </li>
     <li class="enumerate" id="x1-45x22">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  D.  Ghosh,  “<span class="cmti-10">Unsupervised resolution independent based</span>
     <span class="cmti-10">natural plant leaf disease segmentation approach for mobile devices</span>,” in Proceedings of the 5th IBM
     Collaborative Academia Research Exchange Workshop, 2013, p. 11.
     </li>
     <li class="enumerate" id="x1-47x23">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  D.  Ghosh,  “<span class="cmti-10">Mobile augmented reality based interactive</span>
     <span class="cmti-10">teaching &amp; learning system with low computation approach</span>,”  in  Computational  Intelligence  in
     Control and Automation (CICA), 2013 IEEE Symposium on, 2013, pp. 97-103.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-49x24">A. Mehta, S. Prasad, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Improved Connected Region Based Approach</span>
     <span class="cmti-10">for Extraction of Principal Lines from Palm Images</span>,”  in Proceedings of Elsevier International
     Conference of Image and Signal Processing, 2013, pp. 104-111. <span class="cmbx-10">(Best Paper Award)</span>
     </li>
     <li class="enumerate" id="x1-51x25">A. Jain, M. Mishra, <span class="cmbx-10">Sateesh K. Peddoju</span>, and N. Jain, “<span class="cmti-10">Energy efficient computing-green cloud</span>
     <span class="cmti-10">computing</span>,”  in  Energy  Efficient  Technologies  for  Sustainability  (ICEETS),  2013  International
     Conference on, 2013, pp. 978-982.
     </li>
     <li class="enumerate" id="x1-53x26">S. Garg, A. K. Singh, A. K. Sarje, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Behaviour analysis of machine</span>
     <span class="cmti-10">learning algorithms for detecting P2P botnets</span>,” in Advanced computing technologies (ICACT), 2013
     15th international conference on, 2013, pp. 1-4.
     </li>
     <li class="enumerate" id="x1-55x27">P. Deshpande, S. Sharma, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Deploying a private cloud? Go through</span>
     <span class="cmti-10">the  errors  first</span>,”  in  Conference  on  Communication  and  Control  Systems(CACCS-2013)-2013,
     Deharadun-India, 2013.
     </li>
     <li class="enumerate" id="x1-57x28">V. Chouhan and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Hierarchical storage technique for maintaining hop-count</span>
     <span class="cmti-10">to prevent ddos attack in cloud computing</span>,” in Proceedings of International Conference on Advances
     in Computing, 2013, pp. 511-518.
     </li>
     <li class="enumerate" id="x1-59x29">H.  Verma,  D.  Toshniwal,  and  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  “<span class="cmti-10">Distributed  frequent  itemset  mining</span>
     <span class="cmti-10">framework  for  incremental  data  using  MPI-style  WSRF  services</span>,” in   Proceedings   of   the
     International Conference on Advances in Computing, Communications and Informatics, 2012, pp.
     74-81.
     </li>
     <li class="enumerate" id="x1-61x30">S.  Prasad,  A.  Prakash,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  D.  Ghosh,  “<span class="cmti-10">Control  of  computer  process</span>
     <span class="cmti-10">using image processing and computer vision for low-processing devices</span>,”  in  Proceedings  of  the
     International Conference on Advances in Computing, Communications and Informatics, 2012, pp.
     1169-1174.
     </li>
     <li class="enumerate" id="x1-63x31">A. Kuity and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Advanced Reservation based SLA for Resource negotiations</span>
     <span class="cmti-10">in Grid Scheduling</span>,” in Proc. of the Intl. Conf. on Advances in Computer, Electronics and Electrical
     Engineering, 2012.
     </li>
</ol>
    
</div>