<div>
     <ol class="enumerate1">
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Coordinator</span>, Communications subgroup of Workgroup on “IoT Security” under
e-Governance Standards and Guidelines, MeitY, Government of India.
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member</span>, Workgroup on “IoT Security” under e-Governance Standards and Guide-
lines, MeitY, Government of India.
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member</span>, Cyber Crisis Management Plan (CCMP) and Crictical Information In-
frastructure (CII) Policy, Computer Emergency Response Team (CERT)-Uttarakhand.
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Subject Expert</span>, Uttarakhand Public Service Commission.
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Expert Member</span>, Uttarakhand Police Department (STF/CCPS) regarding Hackathon
on Emerging Cyber Security Challenges.
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Jury Member</span>, Annual Convocation various Awards, 2020.
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member</span>, Board of Studies, KITS, Kakatiya University, Warangal (for AI/ML UG
Course).
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member</span>, Board of Studies, Stanley College of Engineering, Osmania University,
Hyderabad (for CSE UG Course).
     </li>
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Member</span>, Technical Committee, Next E-mail System of IITR.
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">Expert Member</span>, NSM Group on Application Development, National Supercomputing Mission
     (NSM), Area: Geophysics and Oil Exploration.
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Project  Review  Steering  Group  Member</span>,  National  Mission  on  Education,  through
     Information Communication &amp; Technology (NMEICT), Ministry of Human Resource Development
     (MHRD).
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Expert Committee Member</span>, Uttarakhand Technical University, Dehradun.
     </li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Screening/Monitoring Committee Member</span>, DOEACC (NIELIT), India.
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">Expert Committee Member</span>, Mahamaya Technical University, Noida, India.
     </li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Expert Committee Member</span>, Graphic Era University, Dehradun, India.
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Member of Confidential Work </span>in GATE  2013.
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmbx-10">Member of Confidential Work in Integrated Common Entrance Test </span>(ICET) in the years
     2007 and 2008.
     </li>
     <li class="enumerate" id="x1-21x10">
<span class="cmbx-10">Institute (IITR) Representative of JEE and GATE examinations</span>.
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Panel Member of Judgment for various events/competitions</span>
     </li>
</ol>
    
</div>
