<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Expert Committee Member</span>, Uttarakhand Technical University, Dehradun.
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">Screening/Monitoring Committee Member</span>, DOEACC (NIELIT), India.
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Expert Committee Member</span>, Mahamaya Technical University, Noida, India.
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Expert Committee Member</span>, Graphic Era University, Dehradun, India.
     </li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Member of Confidential Work </span>in GATE  2013.
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">Member of Confidential Work in Integrated Common Entrance Test </span>(ICET) in the years
     2007 and 2008.
     </li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Institute (IITR) Representative of JEE and GATE examinations</span>.
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Panel Member of Judgment for various events/competitions</span>
     </li>
</ol>
    
</div>