<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Research Directions in IoT and Cloud</span>”, on 12th January, 2019 at FDP on Internet
     of Things (IoT) with Cloud Applications, Graphic Era University, Dehradun, UK, India.
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">Speaker  for  various  sessions: </span>”<span class="cmti-10">IoT Applications Scenarios, IoT and Cloud, IoT Protocols,</span>
     <span class="cmti-10">Advances in IoT, Edge Computing</span>”, during December 24-28, 2018 at FDP on Internet of Things
     (IoT): What and How?, E &amp; ICT Academy, IIT Roorkee, Roorkee, UK, India.
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Invited  Speaker:  </span>”<span class="cmti-10">Motivation  and  Research  Advises  to  Faculty  of  Computer  Science</span>”,  on
     December 6, 2018 at Stanley College of Engineering &amp; Technology for Women, Hyderabad, TS,
     India.
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Speaker for various sessions: </span>”<span class="cmti-10">Parallel Programming, and HPC Case Studies</span>”, on October 22
     and 25, 2018 at FDP on High Performance Computing and Deep Learning, E &amp; ICT Academy, IIT
     Roorkee, Roorkee, UK, India.
     </li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Speaker for various sessions:: </span>”<span class="cmti-10">IoT Applications Scenarios, and Advances in IoT</span>”, on January
     13 and 17, 2018 at FDP on Internet of Things (IoT), E &amp; ICT Academy, IIT Roorkee, Roorkee,
     UK, India.
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">The Role of Cloud Computing in Big Data Analytics</span>”, on 9th January, 2018 at
     STTP on Big Data Analytics and Related Technologies, National Institute of Technology Raipur,
     Chattisgarh, India.
     </li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">The Role of Cloud Computing in Big Data Analytics</span>”, on 9th January, 2018 at
     STTP on Big Data Analytics and Related Technologies, National Institute of Technology Raipur,
     Chattisgarh, India.
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Energy Efficiency and Seamless Service Provisioning in Mobile Cloud Computing</span>”,
     on 19th October, 2017, University at Albany, State University of New York (SUNY), USA.
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmbx-10">Invited Talk and Chief Guest: </span>”<span class="cmti-10">Parallel Computing Performance and Big Data Programming</span>”,
     on 20th February 2016 at FDP on Parallel Computing, Feb 11-20, 2016, National Institute of
     Technology, Warangal, India.
     </li>
     <li class="enumerate" id="x1-21x10">
<span class="cmbx-10">Tutorial Session</span>, <span class="cmti-10">IoT and Cloud</span>, National Conference on Big Data Analytics &amp; Cloud Computing,
     Department  of  CSE,  University  College  of  Engineering(A),  29-31  December  2015,  Osmania
     University, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Chief Guest and Keynote Speaker</span>, <span class="cmti-10">Mobile &amp; Cloud Computing</span>, ASTRA-2k15, 27th &amp; 28th
     November 2015, Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-25x12">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Cloud Computing and its Research</span>, Two-day workshop on Cloud Computing,
     TEQIP-II, 27-28, October, 2015, Government Engineering College, Bikaner, Rajasthan, India.
     </li>
     <li class="enumerate" id="x1-27x13">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Attack Scenarios in Cloud Computing</span>, Symposium on Cloud Computing and
     Digital Forensics, 4th September, 2015, BITS Pilani University, Hyderabad Campus, India.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-29x14">
<span class="cmbx-10">Chief  Guest  and  Chairperson  of  a  Technical  Session  </span>and  Plenary  Session  on  <span class="cmti-10">Cloud</span>
     <span class="cmti-10">Computing Research </span>of International Conference on Science and Technology 2015 for its conference
     track ”Computer Science February 27-28, 2015 organized by SRMS College of Engineering and
     Technology Bareilly, UP, India
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Tutorial Session</span>, <span class="cmti-10">Researching Cloud Computing using Cloudsim</span>, International Conference on
     Computing and Communication Technologies (ICCCT), 11-13, December, 2014, Dept. of CSE,
     Osmania University, Hyderabad, India
     </li>
     <li class="enumerate" id="x1-33x16">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Cloudsim</span>, 11 October, 2014, GurukulKangri University, Haridwar, India.
     </li>
     <li class="enumerate" id="x1-35x17">
<span class="cmbx-10">Speaker for various sessions </span>on topics like <span class="cmti-10">Fundamentals</span>, <span class="cmti-10">Virtualization</span>, <span class="cmti-10">Advances</span>, <span class="cmti-10">Mobile</span>
     <span class="cmti-10">Cloud </span>during the self-organized program, QIP Short Term Course on <span class="cmti-10">Developments and Challenges</span>
     <span class="cmti-10">in Cloud Computing</span>, 10-14 June, 2013, Department of CSE and QIP Center, IIT Roorkee, India.
     </li>
     <li class="enumerate" id="x1-37x18">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Opportunities and Challenges in Wireless Sensor Networks </span>(21st March, 2013),
     AICTE Faculty Development Program on <span class="cmti-10">Wireless Sensor Networks</span>, 18-22 March, 2013, Sri Guru
     GovindSinghji Institute of Engineering and Technology, Nanded, Maharastra, India.
     </li>
     <li class="enumerate" id="x1-39x19">
<span class="cmbx-10">Guest of Honor and Keynote Speaker</span>, <span class="cmti-10">Recent Trends in Cloud Computing </span>(20th March, 2013),
     AICTE Faculty Development Program on <span class="cmti-10">Cloud Computing and its Applications</span>, 20-24, Mar, 2013,
     PDA College of Engineering, Gulbarga, Karnataka, India
     </li>
     <li class="enumerate" id="x1-41x20">
<span class="cmbx-10">Guest of Honor and Invited Speaker</span>, <span class="cmti-10">Demonstration of Cloud Computing Models </span>(20th March,
     2013), AICTE Faculty Development Program on <span class="cmti-10">Cloud Computing and its Applications</span>, 20-24,
     Mar, 2013, PDA College of Engineering, Gulbarga, Karnataka, India
     </li>
     <li class="enumerate" id="x1-43x21">
<span class="cmbx-10">Keynote  Speaker</span>,  <span class="cmti-10">Importance  of  Simulations  in  Networking</span>(15th  February,  2013),  Faculty
     Development Program on  <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering College, Ghaziabad, Delhi
     NCR, India
     </li>
     <li class="enumerate" id="x1-45x22">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Wireless Simulations in NS   2  </span>(15th February, 2013), Faculty Development
     Program on  <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering College, Ghaziabad, Delhi NCR, India
     </li>
     <li class="enumerate" id="x1-47x23">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Demonstration of Wireless environment using NS-2  </span>(16th  February,  2013),
     Faculty Development Program on <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering College, Ghaziabad,
     Delhi NCR, India
     </li>
     <li class="enumerate" id="x1-49x24">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Results,  Analysis,  and  Graphs  of  Wireless  environment  using  NS-2  </span>(16th
     February, 2013), Faculty Development Program on  <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering
     College, Ghaziabad, Delhi NCR, India
     </li>
     <li class="enumerate" id="x1-51x25">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Advances in IRS  Extensions to Cloud Computing </span>(28th January, 2013), DST
     Workshop on <span class="cmti-10">Information Retrieval Systems</span>, 28-29, January, 2013, Varadha Reddy Engineering
     College, Warangal, A.P., India.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-53x26">
<span class="cmbx-10">Chief Guest and Invited Speaker</span>, <span class="cmti-10">Recent Trends in Mobile Cloud Computing</span>, Workshop on
     Recent Trends in Cloud Computing, 3-4, August, 2012, KPR Institute of Technology, Coimbatore,
     Tamil Nadu, India.
     </li>
     <li class="enumerate" id="x1-55x27">
<span class="cmbx-10">Chief Guest and Keynote Speaker</span>, <span class="cmti-10">Mobile Cloud Computing  Advances and Challenges</span>, Joint
     UACEE International Conference on Pervasive Computing and Communications (PCC 2012) and
     Second International Conference on Computing, Control and Communication (CCN-2012), 17th
     June, 2012, NCR-Delhi, India
     </li>
     <li class="enumerate" id="x1-57x28">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Wireless  Networks  and  NS-2  </span>(2nd  June,  2012),  Workshop  on  Simulation
     Software/Tools, 1st  2nd June, 2012, Noida Institute of Engineering and Technology, NCR-Delhi,
     India
     </li>
     <li class="enumerate" id="x1-59x29">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">MANETs and NS-2 </span>(26th February, 2012), Workshop on NS-2 held during 25th
     26th February, 2012, Graphic Era University, Dehradun, U.K., India.
     </li>
     <li class="enumerate" id="x1-61x30">
<span class="cmbx-10">Chief Guest and Keynote Speaker</span>, <span class="cmti-10">Recent Advances in Mobile Communications </span>(23rd Sept,
     2011), National Symposium, SCINTELLACE 2k11. 23-24, Sept, 2011, JNT University, Cuddapah,
     India.
     </li>
     <li class="enumerate" id="x1-63x31">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Mobile  Ad-hoc  Networks  </span>(6th  June,  2008),  National  Workshop  on  Mobile
     Computing held during 5th  7th June, 2008, Dept. of CSE, Osmania University, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-65x32">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Object  Oriented  Programming  </span>(9th  February,  2008),  National  Short-Term
     Training  Program  on  UML  &amp;  Automata  held  during  9-11,  February,  2008,  KITS,  Singapur,
     Karimnagar, India.
     </li>
     <li class="enumerate" id="x1-67x33">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Simulations using NS-2 </span>(9th January, 2008), Pre-workshop tutorial in National
     Workshop for Research Scholars on Mobile Ad hoc Networks: Issues and Challenges held during
     10th  11th January, 2008, Dept. of CSE, Osmania University, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-69x34">
<span class="cmbx-10">Invited Speaker and Guest of Honor</span>, <span class="cmti-10">NS-2 Simulator </span>(30th June, 2007), One-day National
     Seminar on <span class="cmti-10">Network Simulation using OPNET and NS-2 </span>held on 30th June, 2007, Dept. of CSE,
     V.R. Siddhartha Engineering College, Vijayawada, India.
     </li>
     <li class="enumerate" id="x1-71x35">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Mobile Ad-hoc Networks   Overview  </span>(23rd  June,  2007),  Three-day  National
     Seminar on <span class="cmti-10">Networks &amp; Security </span>held during 21st  23rd June, 2007, Dept. of CSE, Srinidhi Institute
     of Science &amp; Technology, Ghatkesar, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-73x36">
<span class="cmbx-10">Guest of Honor and Invited Speaker</span>, <span class="cmti-10">MANET Simulators </span>(24th November, 2006), National
     Seminar  on  <span class="cmti-10">Mobile  &amp;  Pervasive  Computing  </span>during  24th    25th  Nov.,2006,  PDA  College  of
     Technology, Gulburga, Karnataka, India.
     </li>
     <li class="enumerate" id="x1-75x37">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Mobile Communications and NS-2 </span>(30th June  1st July , 2005), Three weeks
     National Refresher Course on Advanced Mobile Computing, Academic Staff College, J.N.T.U.,
     Hyderabad.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-77x38">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">NS-2 Demo  </span>(18th   19th December, 2004), Three weeks National Refresher
     Course on Mobile Computing, Academic Staff College, J.N.T.U., Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-79x39">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Problem Solving Techniques </span>(Oct, 2010  Till date), Foundation Program (FP),
     INFOSYS Campus Connect (CC) at IEG  JKC, Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-81x40">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Web Technologies  </span>(Nov, 2008   Jan, 2009), FP, INFOSYS CC at IEG   JKC,
     Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-83x41">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Programming Fundamentals </span>(Aug, 2008, Oct, 2008), FP, INFOSYS CC at IEG
     JKC, Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-85x42">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Programming Fundamentals </span>(Jun, 2006, Apr, 2006, Jan, 2006), FP, INFOSYS CC
     at IEG  JKC, KITS, Singapur, Karimnagar, India.
     </li>
</ol>
    
</div>