<div>
     <ol class="enumerate1">
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk : </span>”<span class="cmti-10">IoT and Cloud for Better Future</span>”, on  December 16-20, 2022 at FDP on Cloud Computing and Its Applications: Opportunities and challenge in Dr. BR Ambedkar NIT Jalandhar.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk : </span>”<span class="cmti-10">IoT and Edge Computing: Concepts and Use Cases</span>”, on 21st November, 2022 at Devbhoomi Uttarakhand University, Dehradun.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Design and Development of Models for Mobile Malware Detection</span>”, on December 17-18, 2021 at International Conference on Cyber Technologies
and Emerging Sciences (ICCTES 2021), GE Hill Univ., Bhimtal.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Research Opportunities & Challenges in IoT</span>”, on December 9-15, 2021 at AICTE-ISTE Orientation/Refresher pro-
gramme on IoT & applications, Govt. EC, Bikaner.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Introduction to Embedded Systems, IoT and Pervasive Computing</span>”, on December 6-11, 2021 at AICTE-ISTE Faculty Refresher on Embedded
Systems, IoT, Pervasive Computing at Talla Padmavathi College of Engineering, Warangal.
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Panel Chair (Moderator): </span>”<span class="cmti-10">Security and Scale, Volume & Velocity . . . Security Paradigm in Cloud</span>”, on November 23, 2021 at DSCI SERI Conference - Panel
Discussion.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Security and Privacy issues in the Cloud</span>”, on November 16-18, 2021 at Web based Technology program on Cloud
Computing at BEL Academy for excellence, Nalanda.
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">IoT Overview and Advances</span>”, on  October 25-29, 2021 at Five-Day ATAL FDP on Internet of Things and
Human-Computer Interaction, NIT Goa.
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cyber Security & Challenges</span>”, on July 26-30, 2021 at ATAL - FDP on Cybersecurity & Digital Forensics, VRSEC Vijayawada.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Wireless and IOT Security</span>”, on Oct 18-28, 2021 at ATAL FDP on Recent Trends in Cyber Security
&amp Forensics.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cloud Security and IDS in Virtual Firewall</span>”, on October 18-22, 2021 at ATAL FDP on Cloud Forensics: Techniques,
Challenges and Research Directions held at NIT Sikkim.
     </li>
          
          
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10"> IoT Security</span>”, on September 27 - October 1, 2021 at EICT ISEA FDP on Information Security, IIT Roorkee.
     </li>
          
          
          
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Cloud Security</span>”, on September 27 - October 1, 2021 at EICT ISEA FDP on Information Security, IIT Roorkee.
     </li>
          
          
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Design and Development of Models for Mobile Malware Detection</span>”, on September 12, 2021 at 1st International Conference on Applied Mathe-
matics, Modeling and Simulation in Engineering (AMSE) 2021, Stanley College of E&ampT for Women, Hyderabad.
     </li>
          
          
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Internet of Things</span>”, on September 7, 2021 at Induction Programme 2021, SRM Noida
     </li>
          
          
          
    
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">IoT Security</span>”, on August 23-27, 2021 at ATAL FDP on A Blend of IoT, Cyber Security
and Blockchain conducted by NIT Silchar.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cyber Security & Challenges</span>”, on July 26-30, 2021, ATAL - FDP on Cybersecurity & Digital Forensics,
VRSEC Vijayawada.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">1. IoT & Edge Computing, 2. IoT Security</span>”, on July 12-22, 2021 at EICT course on Blockchain and IoT, NIT Warangal
& Vaasavi CoE, Hyderabad.
     </li>
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cloud Security</span>”, on July 19-24, 2021 at FDP on Cloud Computing
Security Challenges and Solutions, SCMS School of E&T, Karukutty, Kerala.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Machine Learning for Mobile Malware Detection</span>”, on June 24-28, 2021 at ATAL FDP on Soft Computing, Machine Learning, Applications, NIT Warangal & LKBR CoE, Hyderabad, Telangana, India
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">1. Introduction to Cloud Computing and Security, and 2. Introduction to IoT and Mobile Security</span>”, on June 22 - July 2, 2021 at QIP STC on Software Defined Networks and its Applications, IIT Bhubaneshwar, India
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Guest Talk: </span>”<span class="cmti-10">Recent Trends in Embedded Systems</span>”, on March 18-24, 2021 at Online Induction-Refresher Programme, KITS Ramtek, Maharastra, India.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Next Generation Computing and Networking</span>”, on March 8-12, 2021 at EQIP-III Sponsored Five Days Online Faculty Development Programme,  NIT Uttarakhand, India.
     </li>
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Guest Talk: </span>”<span class="cmti-10">Advancements in Cyber Security</span>”, on March 8-12, 2021 at FDP on The ICFAI Foundation for Higher Education (IFHE), Hyderabad, Telangana.
     </li>
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Guest Talk: </span>”<span class="cmti-10">Internet of Things: Mathematical Relevance</span>”, on February 2, 2021 at Geethanjali College of Engineering and Technology, Hyderabad.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cyber Security</span>”, on January 18-22, 2021 at AICTE Training and Learning (ATAL) sponsored online FDP, Osmania University, Hyderabad, Telangana.
     </li>
          
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cyber Security</span>”, on Jan 9-10, 2021 at FDP on  NIT Warangal and Vel Tech, Tamil Nadu.
     </li>
          
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Challenges and Applications on Cyber—Physical Systems</span>”, on December 21, 2020 at one Week AICTE sponsored Short Term
Training Programme, Department of Computer Science and Engineering, School of Engineering & Technology, GIET University, Gunupur, Odisha.
     </li>
          
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Guest Talk: </span>”<span class="cmti-10">Emerging Trends in Deep Learning and its Applications</span>”, on Nov/Dec, 2020 at FDP under AQIS
2019—20 Session with AICTE sponsored, Dr. D. Y. Patil Institute of Technology, Pimpri, Pune.
     </li>
          
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cyber Security Analytics and Cyber Forensics</span>”, on November 16-20, 2020 at FDP, Saintgits College of Engineering, Kottayam, Kerala.
     </li>
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Internet of things</span>”, on November 9, 2020 at FDP, ECE Department sponsored by AICTE ATAL academy during November 9-13, 2020, JNTUA College of Engineering Kalikiri, Andhra Pradesh.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cloud and Network Security Mechanisms</span>”, on November 4, 2020 at ISEA sponsored one-week webinar on Cloud
and Network Security Mechanisms organized by the Department of Computer Science and Engineering, IIT(ISM) Dhanbad.
     </li>
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cyber Security and Cryptography</span>”, on October 10, 2020 at ISEA Short Term Course, IIT Roorkee.
     </li>
          
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Recent Advances in Computer Science</span>”, on September 21, 2020 at CRACS-2020 ANURAG University, Hyderabad.
          </li> 
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Online interactive session of Ph.D. Research Scholars in computer science engineering</span>”, on September 19, 2020 at RGPV TEQIP—III, Rajiv Gandhi
Proudyogiki Vishwavidyalya (RGPV), Madhya Pradesh.
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cloud Computing</span>”, on September 7, 2020 at Online - AICTE Training And Learning (ATAL) FDP, Vaagdevi College of Engineering, Waranga
     </li>
          
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course Lectures @ Adjunct Faculty: </span>”<span class="cmti-10">Cloud Computing(CS4L018)</span>”, on March 2—7, 2020 for B.Tech and M.Tech students, at School of Electrical Sciences, IIT Bhubaneswar.
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Mobile Security: Issues and Challenges</span>”, on March 3, 2020 at NISER, Bhubaneshwar.
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Guest Talk: </span>”<span class="cmti-10">Cloud/Edge Computing for Mobile Devices</span>”, on February 27, 2020 at NTU Jagityal, Karimnagar, T.S.
     </li>
          
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Guest Talk: </span>”<span class="cmti-10">Mobility Challenges in Mobile Edge Computing</span>”, on January 7, 2020 at DRBT, Hyderabad, T.S.
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Guest Talk: </span>”<span class="cmti-10">Edge of Internet of Everything</span>”, on December 23, 2019 at CBIT, Hyderabad, T.S
     </li>
          
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Advances in IoT</span>”, on December 16, 2019 at KITS, Warangal, T.S.
     </li>
          
      <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Smart Systems and Smart Security</span>”, on November 18, 2019 at DTU, Delhi.
     </li>
          
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Smart Devices and Smart Criminals</span>”, on November 18, 2019 at at DTU, Delhi.
     </li>
          
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cloud and Edge Computing for Mobile/IoT Devices</span>”, on November 12, 2019 at , NIT, Karnataka.
     </li>
          
          
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cloud and Edge Computing for ISRO Scientists</span>”, on October 25, 2019 at NRSC, Hyderabad, T.S.
     </li>
          
          
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Trade-off Approach for Energy Efficiency and Service Availability in Mobile Edge Computing</span>”, on October 11, 2019, at International Conference on Innovative Sustainable
Computational Technologies (CISCT-2019) (IEEE Co-sponsored) scheduled on Dehradun.
     </li>
          
          
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Cloud and Emerging Technologies</span>”, on October 11, 2019 at Dept. of MCA, DIT University, Dehradun.
     </li>
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Advances in Cloud Computing</span>”, on September 07, 2019 at One-week National Workshop on
AWS Cloud Technology, Shri Mata Vaishno Devi University, Katra, Jammu.
     </li>
          
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Cloud, IoT, and Edge Computing</span>”, on August 29, 2019 at National IEEE Student Workshop on Internet of Things: Devices to Cloud, Dept. of IT,
DIT University, Dehradun.
     </li>
          
          
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Distributed Systems and Blockchain: Preliminaries</span>”, on July 08, 2019, at DST Sponsored
FDP on Blockchain Technology and its Applications, on  NIT Hamirpur.
     </li>
          
          
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Multiple Talks: </span>”<span class="cmti-10">IoT Protocols, Healthcare IoT, Edge Computing, and Edge Assisted LEWS</span>”, on June 28-29, 2019 at DST Sponsored FDP on Sensor Networks and IoT, IIT Dhanbad, India.
     </li>
          
    <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Virtual Infrastructures and Deployment of Security Mechanisms</span>”, on June 18, 2019 at International Summer School on Future Internet Architecture Security, Department of Mathematics, University of Paduva, Paduva, Italy.
     </li>
          
          
   <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Mobile Security - Challenges</span>”, on May 20, 2019 for B.Tech and M.Tech students at NIT Rourkel
     </li>
          
  <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Course Lectures @ Adjunct Faculty: </span>”<span class="cmti-10">Cloud Computing (CS4L018)</span>”, on March 18-24, 2019 for B.Tech
and M.Tech students at School of Electrical Sciences, IIT Bhubaneswar.
     </li>
    
  <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Machine Learning for Mobile Security</span>”, on March 16, 2019 at 3rd
International Conference on Data Engineering and Communications Technologies (ICDECT-2019), Hyderabad.
     </li>
          
   <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Valedictory Talk: </span>”<span class="cmti-10">Edge Computing - Motivation for Research</span>”, on February 8,
2019 at STC on IOT with Cloud Applications, Shri Mata Vaishno Devi University, J&ampK.
     </li>
      
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Inaugural Talk: </span>”<span class="cmti-10">OpenPOWER and Cloud: Case Studies</span>”, on February 6, 2019 at
Workshop on OpenPOWER and AI, IBM, Bangalore.
     </li>
  
          
       <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Keynote Talk: </span>”<span class="cmti-10">Research Directions in IoT and Cloud</span>”, on 12th January, 2019 at FDP on Internet
     of Things (IoT) with Cloud Applications, Graphic Era University, Dehradun, UK, India.
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">Speaker  for  various  sessions: </span>”<span class="cmti-10">IoT Applications Scenarios, IoT and Cloud, IoT Protocols,</span>
     <span class="cmti-10">Advances in IoT, Edge Computing</span>”, during December 24-28, 2018 at FDP on Internet of Things
     (IoT): What and How?, E &amp; ICT Academy, IIT Roorkee, Roorkee, UK, India.
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">Invited  Speaker:  </span>”<span class="cmti-10">Motivation  and  Research  Advises  to  Faculty  of  Computer  Science</span>”,  on
     December 6, 2018 at Stanley College of Engineering &amp; Technology for Women, Hyderabad, TS,
     India.
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Speaker for various sessions: </span>”<span class="cmti-10">Parallel Programming, and HPC Case Studies</span>”, on October 22
     and 25, 2018 at FDP on High Performance Computing and Deep Learning, E &amp; ICT Academy, IIT
     Roorkee, Roorkee, UK, India.
     </li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">Speaker for various sessions:: </span>”<span class="cmti-10">IoT Applications Scenarios, and Advances in IoT</span>”, on January
     13 and 17, 2018 at FDP on Internet of Things (IoT), E &amp; ICT Academy, IIT Roorkee, Roorkee,
     UK, India.
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">The Role of Cloud Computing in Big Data Analytics</span>”, on 9th January, 2018 at
     STTP on Big Data Analytics and Related Technologies, National Institute of Technology Raipur,
     Chattisgarh, India.
     </li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">The Role of Cloud Computing in Big Data Analytics</span>”, on 9th January, 2018 at
     STTP on Big Data Analytics and Related Technologies, National Institute of Technology Raipur,
     Chattisgarh, India.
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">Invited Talk: </span>”<span class="cmti-10">Energy Efficiency and Seamless Service Provisioning in Mobile Cloud Computing</span>”,
     on 19th October, 2017, University at Albany, State University of New York (SUNY), USA.
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmbx-10">Invited Talk and Chief Guest: </span>”<span class="cmti-10">Parallel Computing Performance and Big Data Programming</span>”,
     on 20th February 2016 at FDP on Parallel Computing, Feb 11-20, 2016, National Institute of
     Technology, Warangal, India.
     </li>
     <li class="enumerate" id="x1-21x10">
<span class="cmbx-10">Tutorial Session</span>, <span class="cmti-10">IoT and Cloud</span>, National Conference on Big Data Analytics &amp; Cloud Computing,
     Department  of  CSE,  University  College  of  Engineering(A),  29-31  December  2015,  Osmania
     University, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-23x11">
<span class="cmbx-10">Chief Guest and Keynote Speaker</span>, <span class="cmti-10">Mobile &amp; Cloud Computing</span>, ASTRA-2k15, 27th &amp; 28th
     November 2015, Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-25x12">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Cloud Computing and its Research</span>, Two-day workshop on Cloud Computing,
     TEQIP-II, 27-28, October, 2015, Government Engineering College, Bikaner, Rajasthan, India.
     </li>
     <li class="enumerate" id="x1-27x13">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Attack Scenarios in Cloud Computing</span>, Symposium on Cloud Computing and
     Digital Forensics, 4th September, 2015, BITS Pilani University, Hyderabad Campus, India.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-29x14">
<span class="cmbx-10">Chief  Guest  and  Chairperson  of  a  Technical  Session  </span>and  Plenary  Session  on  <span class="cmti-10">Cloud</span>
     <span class="cmti-10">Computing Research </span>of International Conference on Science and Technology 2015 for its conference
     track ”Computer Science February 27-28, 2015 organized by SRMS College of Engineering and
     Technology Bareilly, UP, India
     </li>
     <li class="enumerate" id="x1-31x15">
<span class="cmbx-10">Tutorial Session</span>, <span class="cmti-10">Researching Cloud Computing using Cloudsim</span>, International Conference on
     Computing and Communication Technologies (ICCCT), 11-13, December, 2014, Dept. of CSE,
     Osmania University, Hyderabad, India
     </li>
     <li class="enumerate" id="x1-33x16">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Cloudsim</span>, 11 October, 2014, GurukulKangri University, Haridwar, India.
     </li>
     <li class="enumerate" id="x1-35x17">
<span class="cmbx-10">Speaker for various sessions </span>on topics like <span class="cmti-10">Fundamentals</span>, <span class="cmti-10">Virtualization</span>, <span class="cmti-10">Advances</span>, <span class="cmti-10">Mobile</span>
     <span class="cmti-10">Cloud </span>during the self-organized program, QIP Short Term Course on <span class="cmti-10">Developments and Challenges</span>
     <span class="cmti-10">in Cloud Computing</span>, 10-14 June, 2013, Department of CSE and QIP Center, IIT Roorkee, India.
     </li>
     <li class="enumerate" id="x1-37x18">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Opportunities and Challenges in Wireless Sensor Networks </span>(21st March, 2013),
     AICTE Faculty Development Program on <span class="cmti-10">Wireless Sensor Networks</span>, 18-22 March, 2013, Sri Guru
     GovindSinghji Institute of Engineering and Technology, Nanded, Maharastra, India.
     </li>
     <li class="enumerate" id="x1-39x19">
<span class="cmbx-10">Guest of Honor and Keynote Speaker</span>, <span class="cmti-10">Recent Trends in Cloud Computing </span>(20th March, 2013),
     AICTE Faculty Development Program on <span class="cmti-10">Cloud Computing and its Applications</span>, 20-24, Mar, 2013,
     PDA College of Engineering, Gulbarga, Karnataka, India
     </li>
     <li class="enumerate" id="x1-41x20">
<span class="cmbx-10">Guest of Honor and Invited Speaker</span>, <span class="cmti-10">Demonstration of Cloud Computing Models </span>(20th March,
     2013), AICTE Faculty Development Program on <span class="cmti-10">Cloud Computing and its Applications</span>, 20-24,
     Mar, 2013, PDA College of Engineering, Gulbarga, Karnataka, India
     </li>
     <li class="enumerate" id="x1-43x21">
<span class="cmbx-10">Keynote  Speaker</span>,  <span class="cmti-10">Importance  of  Simulations  in  Networking</span>(15th  February,  2013),  Faculty
     Development Program on  <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering College, Ghaziabad, Delhi
     NCR, India
     </li>
     <li class="enumerate" id="x1-45x22">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Wireless Simulations in NS   2  </span>(15th February, 2013), Faculty Development
     Program on  <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering College, Ghaziabad, Delhi NCR, India
     </li>
     <li class="enumerate" id="x1-47x23">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Demonstration of Wireless environment using NS-2  </span>(16th  February,  2013),
     Faculty Development Program on <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering College, Ghaziabad,
     Delhi NCR, India
     </li>
     <li class="enumerate" id="x1-49x24">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Results,  Analysis,  and  Graphs  of  Wireless  environment  using  NS-2  </span>(16th
     February, 2013), Faculty Development Program on  <span class="cmti-10">Network Simulator NS-2 </span>, AKG Engineering
     College, Ghaziabad, Delhi NCR, India
     </li>
     <li class="enumerate" id="x1-51x25">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Advances in IRS  Extensions to Cloud Computing </span>(28th January, 2013), DST
     Workshop on <span class="cmti-10">Information Retrieval Systems</span>, 28-29, January, 2013, Varadha Reddy Engineering
     College, Warangal, A.P., India.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-53x26">
<span class="cmbx-10">Chief Guest and Invited Speaker</span>, <span class="cmti-10">Recent Trends in Mobile Cloud Computing</span>, Workshop on
     Recent Trends in Cloud Computing, 3-4, August, 2012, KPR Institute of Technology, Coimbatore,
     Tamil Nadu, India.
     </li>
     <li class="enumerate" id="x1-55x27">
<span class="cmbx-10">Chief Guest and Keynote Speaker</span>, <span class="cmti-10">Mobile Cloud Computing  Advances and Challenges</span>, Joint
     UACEE International Conference on Pervasive Computing and Communications (PCC 2012) and
     Second International Conference on Computing, Control and Communication (CCN-2012), 17th
     June, 2012, NCR-Delhi, India
     </li>
     <li class="enumerate" id="x1-57x28">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Wireless  Networks  and  NS-2  </span>(2nd  June,  2012),  Workshop  on  Simulation
     Software/Tools, 1st  2nd June, 2012, Noida Institute of Engineering and Technology, NCR-Delhi,
     India
     </li>
     <li class="enumerate" id="x1-59x29">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">MANETs and NS-2 </span>(26th February, 2012), Workshop on NS-2 held during 25th
     26th February, 2012, Graphic Era University, Dehradun, U.K., India.
     </li>
     <li class="enumerate" id="x1-61x30">
<span class="cmbx-10">Chief Guest and Keynote Speaker</span>, <span class="cmti-10">Recent Advances in Mobile Communications </span>(23rd Sept,
     2011), National Symposium, SCINTELLACE 2k11. 23-24, Sept, 2011, JNT University, Cuddapah,
     India.
     </li>
     <li class="enumerate" id="x1-63x31">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Mobile  Ad-hoc  Networks  </span>(6th  June,  2008),  National  Workshop  on  Mobile
     Computing held during 5th  7th June, 2008, Dept. of CSE, Osmania University, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-65x32">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Object  Oriented  Programming  </span>(9th  February,  2008),  National  Short-Term
     Training  Program  on  UML  &amp;  Automata  held  during  9-11,  February,  2008,  KITS,  Singapur,
     Karimnagar, India.
     </li>
     <li class="enumerate" id="x1-67x33">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Simulations using NS-2 </span>(9th January, 2008), Pre-workshop tutorial in National
     Workshop for Research Scholars on Mobile Ad hoc Networks: Issues and Challenges held during
     10th  11th January, 2008, Dept. of CSE, Osmania University, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-69x34">
<span class="cmbx-10">Invited Speaker and Guest of Honor</span>, <span class="cmti-10">NS-2 Simulator </span>(30th June, 2007), One-day National
     Seminar on <span class="cmti-10">Network Simulation using OPNET and NS-2 </span>held on 30th June, 2007, Dept. of CSE,
     V.R. Siddhartha Engineering College, Vijayawada, India.
     </li>
     <li class="enumerate" id="x1-71x35">
<span class="cmbx-10">Invited  Speaker</span>,  <span class="cmti-10">Mobile Ad-hoc Networks   Overview  </span>(23rd  June,  2007),  Three-day  National
     Seminar on <span class="cmti-10">Networks &amp; Security </span>held during 21st  23rd June, 2007, Dept. of CSE, Srinidhi Institute
     of Science &amp; Technology, Ghatkesar, Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-73x36">
<span class="cmbx-10">Guest of Honor and Invited Speaker</span>, <span class="cmti-10">MANET Simulators </span>(24th November, 2006), National
     Seminar  on  <span class="cmti-10">Mobile  &amp;  Pervasive  Computing  </span>during  24th    25th  Nov.,2006,  PDA  College  of
     Technology, Gulburga, Karnataka, India.
     </li>
     <li class="enumerate" id="x1-75x37">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">Mobile Communications and NS-2 </span>(30th June  1st July , 2005), Three weeks
     National Refresher Course on Advanced Mobile Computing, Academic Staff College, J.N.T.U.,
     Hyderabad.
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-77x38">
<span class="cmbx-10">Invited Speaker</span>, <span class="cmti-10">NS-2 Demo  </span>(18th   19th December, 2004), Three weeks National Refresher
     Course on Mobile Computing, Academic Staff College, J.N.T.U., Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-79x39">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Problem Solving Techniques </span>(Oct, 2010  Till date), Foundation Program (FP),
     INFOSYS Campus Connect (CC) at IEG  JKC, Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-81x40">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Web Technologies  </span>(Nov, 2008   Jan, 2009), FP, INFOSYS CC at IEG   JKC,
     Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-83x41">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Programming Fundamentals </span>(Aug, 2008, Oct, 2008), FP, INFOSYS CC at IEG
     JKC, Vaagdevi College of Engineering, Warangal, India.
     </li>
     <li class="enumerate" id="x1-85x42">
<span class="cmbx-10">Guest Lecture</span>, <span class="cmti-10">Programming Fundamentals </span>(Jun, 2006, Apr, 2006, Jan, 2006), FP, INFOSYS CC
     at IEG  JKC, KITS, Singapur, Karimnagar, India.
     </li>
</ol>
    
</div>
