<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Agriculture-as-a-Service</span>,” <span class="cmbx-10">IEEE </span>Potentials, in
     Press , 2019.
     </li>
     <li class="enumerate" id="x1-5x2">V.C. Pandey, <span class="cmbx-10">Sateesh K. Peddoju</span>, and Prachi Deshpande, “<span class="cmti-10">A Statistical and Distributed Packet</span>
     <span class="cmti-10">Filter against DDoS Attacks in Cloud Environment</span>,” S<span class="bar-css">a</span>dhan<span class="bar-css">a</span> Journal, Springer, vol. 43, no. 3, 32
     pages, 2018. <span class="cmti-10">(SCI, Scopus)(IF=0.592)</span>, DOI:https://doi.org/10.1007/s12046-018-0800-7.[<span class="cmti-10">Available</span>
     <span class="cmti-10">Online</span>]
     </li>
     <li class="enumerate" id="x1-7x3">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">An adaptive plant leaf mobile informatics using</span>
     <span class="cmti-10">RSSC</span>,” Multimedia Tools and Applications, Springer, vol. 76, pp. 21339-21363, 2017. <span class="cmti-10">(SCI, Scopus,</span>
     <span class="cmti-10">DBLP, ACM)(IF=1.541)</span>, DOI:doi=10.1007/s11042-016-4040-8.
     </li>
     <li class="enumerate" id="x1-9x4">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju </span>,  and  D.  Ghosh,  “<span class="cmti-10">An  efficient  low  vision  plant  leaf  shape</span>
     <span class="cmti-10">identification system for smart phones</span>,” Multimedia Tools and Applications, Springer, vol. 76, pp.
     6915-6939, 2017. <span class="cmti-10">(SCI, Scopus, DBLP, ACM)(IF=1.541)</span>
     </li>
     <li class="enumerate" id="x1-11x5">S. Garg, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. K. Sarje, “<span class="cmti-10">Network-based detection of Android malicious</span>
     <span class="cmti-10">apps</span>,”  International Journal of Information Security, Springer, vol. 16, pp. 385-400, 2017. <span class="cmti-10">(SCI,</span>
     <span class="cmti-10">Scopus, DBLP, ACM)(IF=1.658)</span>
     </li>
     <li class="enumerate" id="x1-13x6">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Multi-resolution mobile vision system for plant</span>
     <span class="cmti-10">leaf disease diagnosis</span>,”  Signal, Image and Video Processing, Springer, vol. 10, pp. 379-388, 2016.
     <span class="cmti-10">(SCI, Scopus, DBLP, ACM)(IF=1.643)</span>
     </li>
     <li class="enumerate" id="x1-15x7">S. Garg, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. K. Sarje, “<span class="cmti-10">Scalable P2P bot detection system based on</span>
     <span class="cmti-10">network data stream</span>,”  Peer-to-Peer Networking and Applications, Springer, vol. 9, pp. 1209-1225,
     2016. <span class="cmti-10">(SCI, Scopus, DBLP, ACM)(IF=1.514)</span>
     </li>
     <li class="enumerate" id="x1-17x8">P.  Deshpande,  S.  Sharma,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  A.  Abraham,  “<span class="cmti-10">Security  and  service</span>
     <span class="cmti-10">assurance issues in Cloud environment</span>,”  International Journal of System Assurance Engineering
     and Management, Springer, pp. 1-14, 2016. <span class="cmti-10">(Scopus, DBLP, ACM)</span>
     </li>
     <li class="enumerate" id="x1-19x9">S. Sharma, U. S. Tim, S. Gadia, J. Wong, R. Shandilya, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Classification</span>
     <span class="cmti-10">and  comparison  of  NoSQL  big  data  models</span>,”  International  Journal  of  Big  Data  Intelligence,
     Inderscience, vol. 2, pp. 201-221, 2015. <span class="cmti-10">(DBLP, ACM)</span>
     </li>
     <li class="enumerate" id="x1-21x10">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Handoff strategy for improving energy efficiency and cloud</span>
     <span class="cmti-10">service availability for mobile devices</span>, ”  Wireless Personal Communications, vol. 81, pp. 101-132,
     2015. <span class="cmti-10">(SCI, Scopus, DBLP, ACM)</span>
     </li>
     <li class="enumerate" id="x1-23x11">P. Deshpande, S. Sharma, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. Abraham, “<span class="cmti-10">Efficient multimedia data</span>
     <span class="cmti-10">storage in cloud environment</span>,”  Informatica, vol. 39, p. 431, 2015. <span class="cmti-10">(Scopus, DBLP, ACM)</span>
     </li>
     <li class="enumerate" id="x1-25x12">K. Bhanot, <span class="cmbx-10">Sateesh K. Peddoju</span>, and T. Bhardwaj, “<span class="cmti-10">A model to find optimal percentage of</span>
     <span class="cmti-10">training and testing data for efficient ECG analysis using neural network</span>,”  International Journal
     of System Assurance Engineering and Management, pp. 1-6, 2015. <span class="cmti-10">(Scopus, DBLP, ACM)</span>
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-27x13">P. Deshpande, S. Sharma, <span class="cmbx-10">Sateesh K. Peddoju</span>, and S. Junaid, “<span class="cmti-10">HIDS: A host based intrusion</span>
     <span class="cmti-10">detection system for cloud computing environment</span>,”  International Journal of System Assurance
     Engineering and Management, pp. 1-10, 2014. <span class="cmti-10">(Scopus, DBLP, ACM)</span>
     </li>
</ol>
    
</div>