<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Agriculture-as-a-Service</span>,” <span class="cmbx-10">IEEE </span>Potentials, <span class="cmti-10">in</span>
     <span class="cmti-10">Press</span>, 2019. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-5x2">V.C. Pandey, <span class="cmbx-10">Sateesh K. Peddoju</span>, and Prachi Deshpande, “<span class="cmti-10">A Statistical and Distributed Packet</span>
     <span class="cmti-10">Filter against DDoS Attacks in Cloud Environment</span>,”  S<span class="bar-css">a</span>dhan<span class="bar-css">a</span> Journal, <span class="cmbx-10">Springer</span>, vol. 43, no. 3,
     pp. 32:1-9, 2018. <span class="cmti-10">(SCIE, JCR, Scopus)(IF=0.592)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s12046-018-0800-7" class="url"><span class="cmtt-10">https://doi.org/10.1007/s12046-018-0800-7</span></a>. <br class="newline">(Vikash  Chandra  Pandey  did  his  M.Tech  thesis  work  with  Sateesh  K.  Peddoju,  and  Prachi
     Deshpande is the Ph. D student working with Sateesh K. Peddoju (Co-Supervisor))
     </li>
     <li class="enumerate" id="x1-7x3">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">An adaptive plant leaf mobile informatics using</span>
     <span class="cmti-10">RSSC</span>,”  Multimedia Tools and Applications, <span class="cmbx-10">Springer</span>, vol. 76, No. 20 pp. 21339-21363, 2017.
     <span class="cmti-10">(SCIE, JCR, Scopus, DBLP, ACM)(IF=1.541)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s11042-016-4040-8" class="url"><span class="cmtt-10">https://doi.org/10.1007/s11042-016-4040-8</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-9x4">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju </span>,  and  D.  Ghosh,  “<span class="cmti-10">An  efficient  low  vision  plant  leaf  shape</span>
     <span class="cmti-10">identification system for smart phones</span>,”  Multimedia Tools and Applications, <span class="cmbx-10">Springer</span>, vol. 76,
     No. 5, pp. 6915-6939, 2017. <span class="cmti-10">(SCIE, JCR, Scopus, DBLP, ACM)(IF=1.541)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s11042-016-3309-2" class="url"><span class="cmtt-10">https://doi.org/10.1007/s11042-016-3309-2</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-11x5">S. Garg, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. K. Sarje, “<span class="cmti-10">Network-based detection of Android malicious</span>
     <span class="cmti-10">apps</span>,”  International Journal of Information Security, <span class="cmbx-10">Springer</span>, vol. 16, No. 4, pp. 385-400, 2017.
     <span class="cmti-10">(SCIE, JCR, Scopus, DBLP, ACM)(IF=1.658)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s10207-016-0343-z" class="url"><span class="cmtt-10">https://doi.org/10.1007/s10207-016-0343-z</span></a>. <br class="newline">(Shree Garg did her Ph. D thesis work with Dr. Anil K. Sarje. Sateesh K. Peddoju is the colleague
     to Dr. Anil K. Sarje and is the Co-Supervisor to Shree Garg)
     </li>
     <li class="enumerate" id="x1-13x6">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Multi-resolution mobile vision system for plant</span>
     <span class="cmti-10">leaf disease diagnosis</span>,” Signal, Image and Video Processing, <span class="cmbx-10">Springer</span>, Vol. 10, No. 2, pp. 379-388,
     2016. <span class="cmti-10">(SCIE, JCR, Scopus, DBLP)(IF=1.643)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s11760-015-0751-y" class="url"><span class="cmtt-10">https://doi.org/10.1007/s11760-015-0751-y</span></a>. <br class="newline">(Shitala Prasad did his Ph. D thesis work with Sateesh K. Peddoju, Dr. Debashis Ghosh is the
     colleague to Sateesh K. Peddoju and is the Co-Supervisor to Shitala Prasad)
     </li>
     <li class="enumerate" id="x1-15x7">S. Garg, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. K. Sarje, “<span class="cmti-10">Scalable P2P bot detection system based on</span>
     <span class="cmti-10">network data stream</span>,”  Peer-to-Peer Networking and Applications, <span class="cmbx-10">Springer</span>, Vol. 9, No. 6, pp.
     1209-1225, 2016. <span class="cmti-10">(SCIE, JCR, Scopus, DBLP, ACM)(IF=1.514)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s12083-016-0440-9" class="url"><span class="cmtt-10">https://doi.org/10.1007/s12083-016-0440-9</span></a>. <br class="newline">(Shree Garg did her Ph. D thesis work with Dr. Anil K. Sarje. Sateesh K. Peddoju is the colleague
     to Dr. Anil K. Sarje and is the Co-Supervisor to Shree Garg)
     </li>
     <li class="enumerate" id="x1-17x8">P.  Deshpande,  S.  Sharma,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  A.  Abraham,  “<span class="cmti-10">Security  and  service</span>
                                                                                       
                                                                                       
     <span class="cmti-10">assurance issues in Cloud environment</span>,”  International Journal of System Assurance Engineering
     and Management, <span class="cmbx-10">Springer</span>, Vol. 9, No. 1, pp. 194-204, 2018 (Fist Online: 2016). <span class="cmti-10">(ESCI, Scopus,</span>
     <span class="cmti-10">DBLP)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s13198-016-0525-0" class="url"><span class="cmtt-10">https://doi.org/10.1007/s13198-016-0525-0</span></a>. <br class="newline">(Prachi Deshpande did her Ph. D thesis work with Dr. Subhash C. Sharma. Sateesh K. Peddoju is
     the colleague to Dr. Subhash C. Sharma and is the Co-Supervisor to Prachi Deshpande)
     </li>
     <li class="enumerate" id="x1-19x9">S. Sharma, U. S. Tim, S. Gadia, J. Wong, R. Shandilya, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Classification</span>
     <span class="cmti-10">and  comparison  of  NoSQL  big  data  models</span>,”  International  Journal  of  Big  Data  Intelligence,
     <span class="cmbx-10">Inderscience</span>, Vol. 2, No. 3, pp. 201-221, 2015. <span class="cmti-10">(DBLP, ACM)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1504/IJBDI.2015.070602" class="url"><span class="cmtt-10">https://doi.org/10.1504/IJBDI.2015.070602</span></a>. <br class="newline">(Sugam Sharma, U. Sunday Tim, S. Gadia, J. Wong, R. Shandilya are the research collaborators
     to Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-21x10">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Handoff strategy for improving energy efficiency and cloud</span>
     <span class="cmti-10">service availability for mobile devices</span>, ” Wireless Personal Communications, <span class="cmbx-10">Springer</span>, Vol. 81, No.
     1, pp. 101-132, 2015. <span class="cmti-10">(SCIE, JCR, Scopus, ACM)(IF=1.200)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s11277-014-2119-y" class="url"><span class="cmtt-10">https://doi.org/10.1007/s11277-014-2119-y</span></a>. <br class="newline">(Anuradha Ravi did her Ph. D Thesis with Sateesh K. Peddoju)
     </li>
     <li class="enumerate" id="x1-23x11">P. Deshpande, S. Sharma, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. Abraham, “<span class="cmti-10">Efficient multimedia data</span>
     <span class="cmti-10">storage in cloud environment</span>,” Informatica, Vol. 39, No.4, pp. 431-442, 2015. <span class="cmti-10">(ESCI, Scopus, DBLP,</span>
     <span class="cmti-10">ACM)</span>. <br class="newline">Link: <a href="http://www.informatica.si/index.php/informatica/article/download/1087/778" class="url"><span class="cmtt-10">http://www.informatica.si/index.php/informatica/article/download/1087/778</span></a> <br class="newline">(Prachi Deshpande did her Ph. D thesis work with Dr. Subhash C. Sharma. Sateesh K. Peddoju is
     the colleague to Dr. Subhash C. Sharma and is the Co-Supervisor to Prachi Deshpande)
     </li>
     <li class="enumerate" id="x1-25x12">K. Bhanot, <span class="cmbx-10">Sateesh K. Peddoju</span>, and T. Bhardwaj, “<span class="cmti-10">A model to find optimal percentage of</span>
     <span class="cmti-10">training and testing data for efficient ECG analysis using neural network</span>,”  International Journal
     of System Assurance Engineering and Management, <span class="cmbx-10">Springer</span>, Vol. 9, No. 1, pp. 12-17, 2018 (Fist
     Online: 2015). <span class="cmti-10">(ESCI, Scopus, DBLP)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s13198-015-0398-7" class="url"><span class="cmtt-10">https://doi.org/10.1007/s13198-015-0398-7</span></a>. <br class="newline">(Kartik Bhanot did his Internship with Sateesh K. Peddoju and Tushar Bhardwaj is the collaborator
     and equal contributor in the paper)
     </li>
     <li class="enumerate" id="x1-27x13">P. Deshpande, S. Sharma, <span class="cmbx-10">Sateesh K. Peddoju</span>, and S. Junaid, “<span class="cmti-10">HIDS: A host based intrusion</span>
     <span class="cmti-10">detection system for cloud computing environment</span>,”  International Journal of System Assurance
     Engineering and Management, <span class="cmbx-10">Springer</span>, Vol. 9, No. 3, 2018 (First Online: 2014) pp. 1-10, 2014.
     <span class="cmti-10">(ESCI, Scopus, DBLP)</span>. <br class="newline">DOI: <a href="https://doi.org/10.1007/s13198-014-0277-7" class="url"><span class="cmtt-10">https://doi.org/10.1007/s13198-014-0277-7</span></a>. <br class="newline">(Prachi Deshpande did her Ph. D thesis work with Dr. Subhash C. Sharma. Sateesh K. Peddoju is
     the colleague to Dr. Subhash C. Sharma and is the Co-Supervisor to Prachi Deshpande)
     </li>
</ol>
    
</div>