<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Agriculture-as-a-Service</span>,”  IEEE Potentials, in
     Press , 2019.
     </li>
     <li class="enumerate" id="x1-5x2">V.C. Pandey, <span class="cmbx-10">Sateesh K. Peddoju</span>, and Prachi Deshpande, “<span class="cmti-10">A Statistical and Distributed Packet</span>
     <span class="cmti-10">Filter against DDoS Attacks in Cloud Environment</span>,”  Sadhana, in Press, 2018.
     </li>
     <li class="enumerate" id="x1-7x3">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">An adaptive plant leaf mobile informatics using</span>
     <span class="cmti-10">RSSC</span>,”  Multimedia Tools and Applications, vol. 76, pp. 21339-21363, 2017.
     </li>
     <li class="enumerate" id="x1-9x4">S.  Prasad,  <span class="cmbx-10">Sateesh  K.  Peddoju </span>,  and  D.  Ghosh,  “<span class="cmti-10">An  efficient  low  vision  plant  leaf  shape</span>
     <span class="cmti-10">identification system for smart phones</span>,” Multimedia Tools and Applications, vol. 76, pp. 6915-6939,
     2017.
     </li>
     <li class="enumerate" id="x1-11x5">S. Garg, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. K. Sarje, “<span class="cmti-10">Network-based detection of Android malicious</span>
     <span class="cmti-10">apps</span>,”  International Journal of Information Security, vol. 16, pp. 385-400, 2017.
     </li>
     <li class="enumerate" id="x1-13x6">S. Prasad, <span class="cmbx-10">Sateesh K. Peddoju</span>, and D. Ghosh, “<span class="cmti-10">Multi-resolution mobile vision system for plant</span>
     <span class="cmti-10">leaf disease diagnosis</span>,”  Signal, Image and Video Processing, vol. 10, pp. 379-388, 2016.
     </li>
     <li class="enumerate" id="x1-15x7">S. Garg, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. K. Sarje, “<span class="cmti-10">Scalable P2P bot detection system based on</span>
     <span class="cmti-10">network data stream</span>,”  Peer-to-Peer Networking and Applications, vol. 9, pp. 1209-1225, 2016.
     </li>
     <li class="enumerate" id="x1-17x8">P.  Deshpande,  S.  Sharma,  <span class="cmbx-10">Sateesh  K.  Peddoju</span>,  and  A.  Abraham,  “<span class="cmti-10">Security  and  service</span>
     <span class="cmti-10">assurance issues in Cloud environment</span>,”  International Journal of System Assurance Engineering
     and Management, pp. 1-14, 2016.
     </li>
     <li class="enumerate" id="x1-19x9">S. Sharma, U. S. Tim, S. Gadia, J. Wong, R. Shandilya, and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Classification</span>
     <span class="cmti-10">and comparison of NoSQL big data models</span>,” International Journal of Big Data Intelligence, vol. 2,
     pp. 201-221, 2015.
     </li>
     <li class="enumerate" id="x1-21x10">A. Ravi and <span class="cmbx-10">Sateesh K. Peddoju</span>, “<span class="cmti-10">Handoff strategy for improving energy efficiency and cloud</span>
     <span class="cmti-10">service availability for mobile devices</span>, ”  Wireless Personal Communications, vol. 81, pp. 101-132,
     2015.
     </li>
     <li class="enumerate" id="x1-23x11">P. Deshpande, S. Sharma, <span class="cmbx-10">Sateesh K. Peddoju</span>, and A. Abraham, “<span class="cmti-10">Efficient multimedia data</span>
     <span class="cmti-10">storage in cloud environment</span>,”  Informatica, vol. 39, p. 431, 2015.
     </li>
     <li class="enumerate" id="x1-25x12">K. Bhanot, <span class="cmbx-10">Sateesh K. Peddoju</span>, and T. Bhardwaj, “<span class="cmti-10">A model to find optimal percentage of</span>
     <span class="cmti-10">training and testing data for efficient ECG analysis using neural network</span>,”  International Journal
     of System Assurance Engineering and Management, pp. 1-6, 2015.
     </li>
     <li class="enumerate" id="x1-27x13">P. Deshpande, S. Sharma, <span class="cmbx-10">Sateesh K. Peddoju</span>, and S. Junaid, “<span class="cmti-10">HIDS: A host based intrusion</span>
     <span class="cmti-10">detection system for cloud computing environment</span>,”  International Journal of System Assurance
     Engineering and Management, pp. 1-10, 2014.
     </li>
</ol>
    
</div>