<div>
     <ul class="itemize1">
     <li class="itemize">Senior Member, IEEE # 90899329
     </li>
     <li class="itemize">Member, ACM # 7294182
     </li>
     <li class="itemize">Member, IEEE Computer Society
     </li>
     <li class="itemize">Member, OpenPOWER Foundation
     </li>
     <li class="itemize">Member, DMTF
     </li>
     <li class="itemize">Member, CSTA
     </li>
     <li class="itemize">Member Life, IETE
     </li>
     <li class="itemize">Member Life, CSI (Computer Society of India)
     </li>
     <li class="itemize">Member Life, ISTE (Indian Society for Technical Education)</li>
</ul>
    
</div>