<div>
     <ul class="itemize1">
     <li class="itemize">
<span class="cmbx-10">Senior Member</span>, IEEE # 90899329
     </li>
     <li class="itemize">
<span class="cmbx-10">Senior Member</span>, ACM # 7294182
     </li>
     <li class="itemize">
<span class="cmbx-10">Member</span>, IEEE Computer Society
     </li>
     <li class="itemize">
<span class="cmbx-10">Member</span>, OpenPOWER Foundation
     </li>
     <li class="itemize">
<span class="cmbx-10">Member</span>, DMTF
     </li>
     <li class="itemize">
<span class="cmbx-10">Member</span>, CSTA
     </li>
     <li class="itemize">
<span class="cmbx-10">Life Member</span>, IETE
     </li>
     <li class="itemize">
<span class="cmbx-10">Life Member</span>, CSI (Computer Society of India)
     </li>
     <li class="itemize">
<span class="cmbx-10">Life Member</span>, ISTE (Indian Society for Technical Education)</li>
</ul>
    
</div>