<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">Animesh Kuity (2012): <span class="cmti-10">Service Level Agreement Based Grid Scheduling for Workflow Application</span>
     </li>
     <li class="enumerate" id="x1-5x2">Ankur Jindal (2012):  <span class="cmti-10">An improved Backfill Algorithm in Cloud Metascheduler</span>
     </li>
     <li class="enumerate" id="x1-7x3">Monika Choudhary (2012):  <span class="cmti-10">A Dynamic Algorithm for Task Scheduling in Cloud Environment</span>
     </li>
     <li class="enumerate" id="x1-9x4">Biswajit Sinha (2012):  <span class="cmti-10">Fuzzy Inference System based Reputation Model for Grid Environment</span>
     </li>
     <li class="enumerate" id="x1-11x5">Sonam Chugh (2012):  <span class="cmti-10">Access Control Based Data Security in Cloud Computing</span>
     </li>
     <li class="enumerate" id="x1-13x6">Anupam Burte (2012):  <span class="cmti-10">Virtual Machine Provisioning Based on Quality of Service Parameters</span>
     </li>
     <li class="enumerate" id="x1-15x7">N.V.V. Satyanarayana Reddy (2012):  <span class="cmti-10">Auction Based Resource Allocation in Computational Grids</span>
     </li>
     <li class="enumerate" id="x1-17x8">Sri Krishna Chowdary K (IDD) (2012):  <span class="cmti-10">Secure Group Communication in Grid </span>(Co-Supervisor: Dr.
     Anjali Sardana)
     </li>
     <li class="enumerate" id="x1-19x9">Harish Verma (IDD) (2012):  <span class="cmti-10">Frequent Itemset Mining Framework Using MPI-Style WSRF Services</span>
     <span class="cmti-10">Based on Weka4WS </span>(Co-Supervisor: Dr. DurgaToshniwal)
     </li>
     <li class="enumerate" id="x1-21x10">Tarun Sen (2013):  <span class="cmti-10">Identity Based Cryptography for Cloud Computing Datacenter</span>
     </li>
     <li class="enumerate" id="x1-23x11">Aditya  Mehta  (2013):    <span class="cmti-10">Mobile  AR  System  for  Palm  Principal  Lines’  Feature  Extraction  for</span>
     <span class="cmti-10">Palmistry</span>
     </li>
     <li class="enumerate" id="x1-25x12">Mohd Junaid (2013):  <span class="cmti-10">Anomaly Based Intrusion Detection System for Cloud</span>
     </li>
     <li class="enumerate" id="x1-27x13">Nitesh Kumar Tater (2013):  <span class="cmti-10">Resource Provisioning in Mobile Cloud Computing using Cloudlet</span>
     </li>
     <li class="enumerate" id="x1-29x14">Aditi (2013):  <span class="cmti-10">Port scanning Attack in Cloud Environment</span>
     </li>
     <li class="enumerate" id="x1-31x15">Ankit Jain (2013):  <span class="cmti-10">Offloading Android Applications to the Cloud</span>
     </li>
     <li class="enumerate" id="x1-33x16">Shruti Jaiswal (2013):  <span class="cmti-10">Denial of Service Attack Modeling in Cloud Computing</span>
     </li>
     <li class="enumerate" id="x1-35x17">Bhupendra Kumar Teli (2013):  <span class="cmti-10">Dynamic Resource Allocation for Mobile Applications</span>
     </li>
     <li class="enumerate" id="x1-37x18">Jeevan Ram Meena (IDD) (2013):  <span class="cmti-10">A Domain Based Trust Model for Grid Environment</span>
     </li>
     <li class="enumerate" id="x1-39x19">Anubha Jain (2013):  <span class="cmti-10">Improvement of Channel Bandwidth Utilization in LEACH in Wireless Sensor</span>
     <span class="cmti-10">Network </span>(Co-Supervisor: Prof. Manoj Misra)
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-41x20">Gyanesh Meena (IDD) (2013):  <span class="cmti-10">Designing an Energy Efficient Aggregation Technique for Wireless</span>
     <span class="cmti-10">Sensor Networks </span>(Co-Supervisor: Dr. Vaskar Raychaudhary)
     </li>
     <li class="enumerate" id="x1-43x21">Anshul Arora (2014):  <span class="cmti-10">Network Traffic Based Detection of Android Malwares</span>
     </li>
     <li class="enumerate" id="x1-45x22">Amit Ranjan (2014):  <span class="cmti-10">A Hierarchical Fault Tolerance Model for Cloud Systems</span>
     </li>
     <li class="enumerate" id="x1-47x23">Vikas Chandra Pandey (2014):  <span class="cmti-10">A Statistical and Distributed Packet Filter Against DDoS Attacks</span>
     <span class="cmti-10">in Cloud Environments</span>
     </li>
     <li class="enumerate" id="x1-49x24">Mallari Harish Kumar (2014):  <span class="cmti-10">Energy Efficient Task Scheduling for Parallel Workflows in Cloud</span>
     <span class="cmti-10">Environment</span>
     </li>
     <li class="enumerate" id="x1-51x25">Agraj Sharma (2014):  <span class="cmti-10">Response Time Based Load Balancing in Cloud Computing</span>
     </li>
     <li class="enumerate" id="x1-53x26">Gaurav Garkoti (2014):   <span class="cmti-10">Detection of Insider Attacks in Cloud Based e-Healthcare Environment</span>
     (Co-Supervisor: Dr. Balasubramanian R)
     </li>
     <li class="enumerate" id="x1-55x27">Utpal Chowdhury (2015):  <span class="cmti-10">Detection of DDoS Attacks in Cloud Environment using Collaborative</span>
     <span class="cmti-10">Training</span>
     </li>
     <li class="enumerate" id="x1-57x28">Anil Pal (2015):  <span class="cmti-10">Reducing Frame Loss And Time In Mobile Video Transmission From Cloud</span>
     </li>
     <li class="enumerate" id="x1-59x29">NayanVinodkumar Intwala (IDD) (2015):  <span class="cmti-10">An Effective, Efficient And Highly Extensible Framework</span>
     <span class="cmti-10">For Security-As-A-Service</span>
     </li>
     <li class="enumerate" id="x1-61x30">Raunak Lakhwani (2016): <span class="cmti-10">Fault Tolerant Convergent Key Management in Object-based Storage</span>
     </li>
     <li class="enumerate" id="x1-63x31">Jitender Kiraria (2016):  <span class="cmti-10">A Framework For Secure Transcoding Of Videos In Cloud Infrastructures</span>
     </li>
     <li class="enumerate" id="x1-65x32">Amit Kewal:  <span class="cmti-10">Minimizing The Response Time Of Video Streaming Using Cloudlet</span>
     </li>
     <li class="enumerate" id="x1-67x33">Vijay Patidar (2016):  <span class="cmti-10">Offline De-Duplication On Encrypted Data Using Object Storage</span>
     </li>
     <li class="enumerate" id="x1-69x34">Prakhar Dhama (2017):  <span class="cmti-10">Scalable Pattern Mining Algorithms for Large Scale Interval Data</span>
     </li>
     <li class="enumerate" id="x1-71x35">Vindeep Singh (2017):  <span class="cmti-10">Docker Container Based Microservice Deployment and Management System</span>
     </li>
     <li class="enumerate" id="x1-73x36">Ankita Rani (2017):  <span class="cmti-10">Workload-Aware Energy Efficient Virtual Machine Placement Algorithm for</span>
     <span class="cmti-10">Cloud</span>
     </li>
     <li class="enumerate" id="x1-75x37">Maj. Varun Mahajan (2017):  <span class="cmti-10">Security of Cloud Environment using IDS and Honeypot Architecture</span>
                                                                                       
                                                                                       
     </li>
     <li class="enumerate" id="x1-77x38">Monika Santra (2017):   <span class="cmti-10">Design and Implementation of Remote Attestation Protocols for Servers</span>
     (Co-Supervisor: Dr. Anup Battacharjee, BARC, Mumbai)
     </li>
</ol>
    
</div>