<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">Anuradha Ravi (Enroll. No. 11915001): <span class="cmti-10">Energy Efficient Seamless Service Provisioning in Mobile</span>
     <span class="cmti-10">Cloud Computing</span>; Awarded: 28-12-2015
     </li>
     <li class="enumerate" id="x1-5x2">Shitala Prasad (Enroll. No. 11915006): <span class="cmti-10">Mobile Vision system for Plant Leaf Analysis</span>; Co-supervisor:
     Prof. D. Ghosh (ECE, IITR); Awarded: 20-02-2016
     </li>
     <li class="enumerate" id="x1-7x3">Shre Garg (Enroll. No. 10915010): <span class="cmti-10">Network Behavior Analysis Based Effective Detection Of Botnets</span>;
     Co-supervisor: Prof. Anil K. Sarje (CSE, IITR); Awarded: 26-02-2016
     </li>
     <li class="enumerate" id="x1-9x4">Prachi Deshpande (Enroll. No. 11926012): <span class="cmti-10">Security And Storage Issues In Cloud Environment</span>;
     Co-supervisor: Prof. S. C. Sharma (IPT, IITR); Awarded: 26-05-2016</li>
</ol>
    
</div>