<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">Anuradha Ravi (Enroll. No. 11915001): <span class="cmti-10">Energy Efficient Seamless Service Provisioning in Mobile</span>
     <span class="cmti-10">Cloud Computing</span>; Awarded: 28-12-2015
     </li>
     <li class="enumerate" id="x1-5x2">Shitala Prasad (Enroll. No. 11915006): <span class="cmti-10">Mobile Vision system for Plant Leaf Analysis</span>; Co-supervisor:
     Prof. D. Ghosh (ECE, IITR); Awarded: 20-02-2016
     </li>
     <li class="enumerate" id="x1-7x3">Shre Garg (Enroll. No. 10915010): <span class="cmti-10">Network Behavior Analysis Based Effective Detection Of Botnets</span>;
     Co-supervisor: Prof. Anil K. Sarje (CSE, IITR); Awarded: 26-02-2016
     </li>
     <li class="enumerate" id="x1-9x4">Prachi Deshpande (Enroll. No. 11926012): <span class="cmti-10">Security And Storage Issues In Cloud Environment</span>;
     Co-supervisor: Prof. S. C. Sharma (IPT, IITR); Awarded: 26-05-2016
     </li>
     <li class="enumerate" id="x1-11x5">Anshul Arora (Enroll. No. 14911009): <span class="cmti-10">Mobile Malware Detection</span>; Status: Advanced Stage
     </li>
     <li class="enumerate" id="x1-13x6">Ajay Choudhary (Enroll. No. 14911016): <span class="cmti-10">Internet of Things (IoT) for Smart Agriculture</span>; Status:
     In Progress
     </li>
     <li class="enumerate" id="x1-15x7">Vikas Chouhan (Enroll. No. 14911024): <span class="cmti-10">Cloud Storage Security</span>; Status: In Progress
     </li>
     <li class="enumerate" id="x1-17x8">Animesh Kuity (Enroll. No. 15911001): <span class="cmti-10">High Performance Computing in Cloud</span>; Status: In Progress
     </li>
     <li class="enumerate" id="x1-19x9">Surabhi Sharma (Enroll. No. 17911010): <span class="cmti-10">Internet of Things (IoT) and Cloud</span>; Status: In Progress
     </li>
     <li class="enumerate" id="x1-21x10">Abdul Kadir (Enroll. No. 18911001), <span class="cmti-10">Internet of Things (IoT) and Cloud</span>; Status: In Progress</li>
</ol>
    
</div>