<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">Anshul Arora (Enroll. No. 14911009): <span class="cmti-10">Mobile Malware Detection</span>;
     </li>
     <li class="enumerate" id="x1-5x2">Ajay Choudhary (Enroll. No. 14911016): <span class="cmti-10">Internet of Things (IoT) for Smart Agriculture</span>;
     </li>
     <li class="enumerate" id="x1-7x3">Vikas Chouhan (Enroll. No. 14911024): <span class="cmti-10">Cloud Storage Security</span>;
     </li>
     <li class="enumerate" id="x1-9x4">Animesh Kuity (Enroll. No. 15911001): <span class="cmti-10">High Performance Computing in Cloud</span>;
     </li>
     <li class="enumerate" id="x1-11x5">Surabhi Sharma (Enroll. No. 17911010): <span class="cmti-10">Internet of Things (IoT) and Cloud</span>;
     </li>
     <li class="enumerate" id="x1-13x6">Abdul Kadir (Enroll. No. 18911001), <span class="cmti-10">Internet of Things (IoT) and Cloud</span>;</li>
</ol>
    
</div>