<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">HP-CAST</span>, High Performance Computing Summit, September, 2015
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">IEEE </span>Conference on High Performance Computing (<span class="cmbx-10">Hi-PC</span>), December, 2015, Bangalore
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">HP-CAST</span>, High Performance Computing Summit, August, 2014
     </li>
     <li class="enumerate" id="x1-9x4">Two-day workshop on Cloud Computing and Security Issues, 12-13 July, 2012, Osmania University,
     Hyderabad, India.
     </li>
     <li class="enumerate" id="x1-11x5">Two weeks course on Effective Teaching/Learning of Computer Programming. During: 28th June
     10th Jul, 2010, Organized by: <span class="cmbx-10">I.I.T</span>, Bombay (Remote Center: <span class="cmbx-10">N.I.T</span>, Warangal), Sponsored by:
     <span class="cmbx-10">ISTE</span>, India.
     </li>
     <li class="enumerate" id="x1-13x6">Short term training program on Automation and Robotics, During: 6th  18th July, 2009, Organized
     by: National Institute of Technology (<span class="cmbx-10">N.I.T</span>.), Warangal, Sponsored by: <span class="cmbx-10">MHRD</span>, India.
     </li>
     <li class="enumerate" id="x1-15x7">National Workshop on Mobile Computing, During:5th  7th June, 2008. Organized by: Department
     of <span class="cmbx-10">CSE</span>, Osmania University, Hyderabad, Sponsored by: <span class="cmbx-10">TEQIP</span>, India.
     </li>
     <li class="enumerate" id="x1-17x8">National Workshop on Data Mining, During: 15th  16th May, 2008. Organized by: Department of
     <span class="cmbx-10">CSE</span>, Osmania University, Hyderabad, Sponsored by: <span class="cmbx-10">TEQIP</span>, India.
     </li>
     <li class="enumerate" id="x1-19x9">Two day workshop on Mobile Ad-hoc Networks: Issues and Challenges, During: 10th  11th Jan,
     2008. Organized by: Department of <span class="cmbx-10">CSE</span>, Osmania University, Hyderabad, Sponsored by: <span class="cmbx-10">TEQIP</span>,
     India.
     </li>
     <li class="enumerate" id="x1-21x10">National Seminar on Emerging Trends in Physics  Celebration of Centenary of 1905, During: 12th
     13th Aug, 2005. Organized by: <span class="cmbx-10">KITS</span>, Singapur, Sponsored by: <span class="cmbx-10">IAPT</span>, India.
     </li>
     <li class="enumerate" id="x1-23x11">Short Term Course on Web Design and Development. During 8th  12th Dec, 2003, Organized by:
     Indian Institute of Technology (<span class="cmbx-10">I.I.T.</span>), New Delhi. Sponsored by: <span class="cmbx-10">AICTE-QIP</span>, India.
     </li>
     <li class="enumerate" id="x1-25x12">National Level Introductory School on Astronomy and Astrophysics. During: 15th  19th Oct, 2001,
     Organized by: RajarshiShahuMahavidyalaya, Latur, Maharastra, Sponsored by: <span class="cmbx-10">IUCAA</span>, Pune,
     India.
     </li>
     <li class="enumerate" id="x1-27x13">National workshop on <span class="cmbx-10">CADD</span>. During: 21st  22nd Dec, 1997, Organized by: <span class="cmbx-10">KITS</span>, Warangal.
     </li>
</ol>
    
</div>