<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">S.  Yuvaraj,  <span class="cmbx-10">M.V.  Kartikeyan</span>,  Manfred  Thumm,  “<span class="cmti-10">RF Behavior of a 220/251.5 GHz, 2MW,</span>
     <span class="cmti-10">triangular corrugated coaxial cavity gyrotron</span>,”  IEEE Trans. Electron Devices (Accepted), August
     2017.
     </li>
     <li class="enumerate" id="x1-5x2">Sukhwinder Singh, <span class="cmbx-10">M.V. Kartikeyan</span>, “<span class="cmti-10">Full wave analysis of plasma loaded coaxial gyrotron cavity</span>
     <span class="cmti-10">with triangular corrugations on the insert</span>,”  IEEE Trans. Electron Devices, vol. 64, no. 5, pp.
     2369-2375, May 2017.
     </li>
     <li class="enumerate" id="x1-7x3">Leeladhar Malviya, Rajib K. Panigrahi, <span class="cmbx-10">M.V. Kartikeyan</span>, “<span class="cmti-10">MIMO antennas with diversity and</span>
     <span class="cmti-10">mutual coupling reduction techniques: a review</span>,”  International Journal of Microwave and Wireless
     Technologies, DOI:10.1017/ S1759078717000538, pp. 1-18, May 2017.
     </li>
     <li class="enumerate" id="x1-9x4">Gaurav  Singh,  <span class="cmbx-10">M.V.  Kartikeyan</span>,  Manfred  Thumm,  “<span class="cmti-10">A 220/247.5/275 GHz, 1.0MW, triple</span>
     <span class="cmti-10">frequency regime gyrotron</span>,” IEEE Trans. Electron Devices, vol. 64, no. 4, pp. 1774-1780, April 2017.
     </li>
     <li class="enumerate" id="x1-11x5">Sukwinder Singh, <span class="cmbx-10">M.V. Kartikeyan</span>, “<span class="cmti-10">Full wave analysis of coaxial gyrotron cavity with triangular</span>
     <span class="cmti-10">corrugations on the insert</span>,”  IEEE Trans. Electron Devices, vol. 64, no. 4, pp. 1756-1762, April
     2017.
     </li>
</ol>
    
</div>