<div>
     <ol class="enumerate1">
     <li class="enumerate" id="x1-3x1">Editor, Journal of Spatio-Temporal Data Science, Inderscience.
     </li>
     <li class="enumerate" id="x1-5x2">Vice Chairman, IEEE Computer Society, India Council (2015-Till Date).
     </li>
     <li class="enumerate" id="x1-7x3">Secretary, IEEE Roorkee Subsection, India (2018-Till Date).
     </li>
     <li class="enumerate" id="x1-9x4">Founder Faculty Sponsor, ACM Students Chapter, IIT Roorkee, India (2015-Till Date).
     </li>
     <li class="enumerate" id="x1-11x5">Chaired Session in IEEE MASS 2017, flagship conference in MANETs and Sensors.
     </li>
     <li class="enumerate" id="x1-13x6">Reviewer: <span class="cmti-10">IEEE Trans. Cloud Computing</span>.
     </li>
     <li class="enumerate" id="x1-15x7">Reviewer: <span class="cmti-10">IEEE Trans. Service Computing</span>.
     </li>
     <li class="enumerate" id="x1-17x8"> <span class="cmti-10">Outstanding Reviewer</span>: Elsevier Computer Networks.
     </li>
     <li class="enumerate" id="x1-19x9">
<span class="cmti-10">Recognized Reviewer</span>: Elsevier Computers and Security.
     </li>
     <li class="enumerate" id="x1-21x10">Reviewer: Elsevier Journal of Network and Computer Applications.
     </li>
     <li class="enumerate" id="x1-23x11">Reviewer: Springer International Journal of Information Security.
     </li>
     <li class="enumerate" id="x1-25x12">Reviewer: Elsevier Development Engineering.
     </li>
     <li class="enumerate" id="x1-27x13">Reviewer: Wiley International Journal of Communication Systems
     </li>
</ol>
    
</div>