<div>
     <ul class="itemize1">
     <li class="itemize">
<span class="cmbx-10">Editor</span>, Journal of Spatio-Temporal Data Science, Inderscience.
     </li>
     <li class="itemize">
<span class="cmbx-10">Vice Chairman</span>, IEEE Computer Society, India Council (2015-Till Date).
     </li>
     <li class="itemize">
<span class="cmbx-10">Secretary</span>, IEEE Roorkee Subsection, India (2018-Till Date).
     </li>
     <li class="itemize">
<span class="cmbx-10">Founder Faculty Sponsor</span>, ACM Students Chapter, IIT Roorkee, India (2015-Till Date).
     </li>
     <li class="itemize">
<span class="cmbx-10">Chaired Session </span>in IEEE MASS 2017, flagship conference in MANETs and Sensors.
     </li>
     <li class="itemize">Reviewer: <span class="cmbx-10">IEEE Transactions on Cloud Computing</span>.
     </li>
     <li class="itemize">Reviewer: <span class="cmbx-10">IEEE Transactions on Service Computing</span>.
     </li>
     <li class="itemize"> <span class="cmbx-10">Outstanding Reviewer</span>: Elsevier Computer Networks.
     </li>
     <li class="itemize">
<span class="cmbx-10">Recognized Reviewer</span>: Elsevier Computers and Security.
     </li>
     <li class="itemize">
<span class="cmbx-10">Reviewer</span>: Elsevier Journal of Network and Computer Applications.
     </li>
     <li class="itemize">
<span class="cmbx-10">Reviewer</span>: Springer International Journal of Information Security.
     </li>
     <li class="itemize">
<span class="cmbx-10">Reviewer</span>: Elsevier Development Engineering.
     </li>
     <li class="itemize">
<span class="cmbx-10">Reviewer</span>: Wiley International Journal of Communication Systems
     </li>
</ul>
    
</div>