<div>
<div class="center">
<!--l. 1--><p class="noindent">
</p>
<div class="tabular"> <table id="TBL-1" class="tabular" cellspacing="0" cellpadding="0" rules="groups">
<colgroup id="TBL-1-1g"><col id="TBL-1-1"></colgroup>
<colgroup id="TBL-1-2g"><col id="TBL-1-2"></colgroup>
<colgroup id="TBL-1-3g"><col id="TBL-1-3"></colgroup>
<colgroup id="TBL-1-4g"><col id="TBL-1-4"></colgroup>
<colgroup id="TBL-1-5g"><col id="TBL-1-5"></colgroup>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr style="vertical-align:baseline;" id="TBL-1-1-">
<td style="white-space:nowrap; text-align:center;" id="TBL-1-1-1" class="td11"> <span class="cmr-9">Year  </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-1-2" class="td11"><span class="cmr-9">Sponsoring Agency</span></td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-1-3" class="td11"><span class="cmr-9">External Cash Flow</span></td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-1-4" class="td11"><span class="cmr-9">PI or Co–PI</span></td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-1-5" class="td11">  <span class="cmr-9">Status   </span>
</td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr style="vertical-align:baseline;" id="TBL-1-2-">
<td style="white-space:nowrap; text-align:center;" id="TBL-1-2-1" class="td11">
<span class="cmr-9">2018–</span><span class="cmr-9"> </span><span class="cmr-9"> </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-2-2" class="td11">     <span class="cmr-9">NMHS        </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-2-3" class="td11">  <span class="cmr-9">Rs. 213.90 Lacs   </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-2-4" class="td11">   <span class="cmr-9">Co-PI    </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-2-5" class="td11"> <span class="cmr-9">Ongoing  </span>
</td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr style="vertical-align:baseline;" id="TBL-1-3-">
<td style="white-space:nowrap; text-align:center;" id="TBL-1-3-1" class="td11"><span class="cmr-9">2015–20</span></td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-3-2" class="td11">     <span class="cmr-9">MEITY       </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-3-3" class="td11">  <span class="cmr-9">Rs. 137.00 Lacs   </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-3-4" class="td11">   <span class="cmr-9">Co-PI    </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-3-5" class="td11"> <span class="cmr-9">Ongoing  </span>
</td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr style="vertical-align:baseline;" id="TBL-1-4-">
<td style="white-space:nowrap; text-align:center;" id="TBL-1-4-1" class="td11"><span class="cmr-9">2014–16</span></td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-4-2" class="td11">     <span class="cmr-9">RICET        </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-4-3" class="td11">  <span class="cmr-9">Rs. 33.72 Lacs    </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-4-4" class="td11">    <span class="cmr-9">PI      </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-4-5" class="td11"><span class="cmr-9">Completed</span></td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr style="vertical-align:baseline;" id="TBL-1-5-">
<td style="white-space:nowrap; text-align:center;" id="TBL-1-5-1" class="td11"><span class="cmr-9">2013–16</span></td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-5-2" class="td11">      <span class="cmr-9">IBM          </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-5-3" class="td11">    <span class="cmr-9">USD 15000      </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-5-4" class="td11">    <span class="cmr-9">PI      </span>
</td>
<td style="white-space:nowrap; text-align:center;" id="TBL-1-5-5" class="td11"><span class="cmr-9">Completed</span></td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr class="hline">
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
<td><hr></td>
</tr>
<tr style="vertical-align:baseline;" id="TBL-1-6-"><td style="white-space:nowrap; text-align:center;" id="TBL-1-6-1" class="td11">       </td></tr>
</table>
</div>
</div>
    
</div>