<div>
     <ol class="enumerate1">
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Italy: Paduva: </span>June 17-21, 2019 - 2019 - Deliver a talk in International Summer
School on Future Internet Architecture Security.
     </li>
          <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">Italy: Rome: </span>June 10-13, 2019 - Conducted oSecond IEEE International Work-
shop on Smart Living with IoT, Cloud and Edge Computing (SLICE-2019) in con-
junction with The Fourth IEEE International Conference on Fog and Mobile Edge
Computing (FMEC 2019), Rome, Italy.
     </li>
     <li class="enumerate" id="x1-3x1">
<span class="cmbx-10">United States: Miami: </span>Research Meeting, on 26th October, 2017 at Applied Research Centre,
     Florida International University, Miami, USA.
     </li>
     <li class="enumerate" id="x1-5x2">
<span class="cmbx-10">United States: Albany: </span>Delivered a Guest Talk on ”<span class="cmti-10">Energy Efficiency and Seamless Service</span>
     <span class="cmti-10">Provisioning in Mobile Cloud Computing</span>”, on 19th October, 2017 at University at Albany, State
     University of New York (SUNY), USA.
     </li>
     <li class="enumerate" id="x1-7x3">
<span class="cmbx-10">United States: Orlando</span>, Florida: To attend and present the research papers in an International
     Conference, <span class="cmbx-10">IEEE MASS -2017</span>, during October 22-25, 2017 at Orlando, Florida, USA
     </li>
     <li class="enumerate" id="x1-9x4">
<span class="cmbx-10">Germany: Frankfurt: </span>To attend and present the research paper in an International Conference,
     <span class="cmbx-10">ISC - 2017</span>, during June 18-22, 2017 at Frankfurt, Germany.
     </li>
     <li class="enumerate" id="x1-11x5">
<span class="cmbx-10">United States: Austin, Texas: </span>To attend and present the research work at OpenPOWER ADG
     workshop and attend <span class="cmbx-10">SC - 15</span>, during November 15-20, 2015 at Austin, Texas, USA.
     </li>
     <li class="enumerate" id="x1-13x6">
<span class="cmbx-10">United  Kingdom:  London,  Oxford</span>:  To  attend  and  present  the  research  papers  in  an
     International Conference, <span class="cmbx-10">NGMAST  2014</span>, during 17-20, September, 2014 at Oxford, U.K
     </li>
     <li class="enumerate" id="x1-15x7">
<span class="cmbx-10">United States: </span>To attend, present a paper, and session a chair in an International conference,
     <span class="cmbx-10">IEEE SERE   2013 </span>during 18-20 June, 2013 at National Institute of Science and Technology
     (<span class="cmbx-10">NIST</span>), Gaithersburg, Washington DC, USA.
     </li>
     <li class="enumerate" id="x1-17x8">
<span class="cmbx-10">South Korea: </span>To attend, Present a paper, and Session a Chair in an International Conference,
     <span class="cmbx-10">FTRA AIM  2012 </span>during 6-8, February, 2012 at Korea University, Seoul, South Korea.
     </li>
</ol>
    
</div>
