---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "academicons.min.css";
@import "tex.css";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 12px;

  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

.author__urls a {
  display: inline;
}

.page__content {
  font-size: 13px;
}

.small-font-email {
  font-size: 12px;
}

.page__hero-image {
  height: 22em;
}

.from-tex {
    font-size: 18px !important;
}


