---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "academicons.min.css";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__urls a {
  display: inline;
}

.page__content {
  font-size: 16px;
}
